// .line {
//   height: calc(var(--index) * 0.3);
//   background-color: #ffffff;
// }
.line--color-accent {
  background: #c5fd64;
}

.ambassador {
  padding-top: calc(var(--index) * 3.5);
  padding-bottom: calc(var(--index) * 11.2);
  &__video {
    height: auto;
    max-height: 100%;
    max-width: 100%;
  }
  &__remark {
    margin-bottom: 30vh;
    font-weight: 700;
    font-size: calc(var(--index) * 0.53);
    line-height: 86%;
    letter-spacing: -0.033em;

    color: #333333;
  }
  &__title {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    font-size: calc(var(--index) * 6.63);
    line-height: 1;

    letter-spacing: -0.033em;

    color: #c5fd64;
    .split {
      display: flex;
      overflow: hidden;
    }
  }
  &__title div:not(:last-child) {
    margin-bottom: toIndex(-35);
  }
  &__text {
    margin-bottom: calc(var(--index) * 14.43);
    width: calc(var(--index) * 13.7);
    font-weight: 800;
    font-size: calc(var(--index) * 1.58);
    line-height: 96%;

    letter-spacing: -0.033em;
  }
  &__perks-container {
    margin-left: auto;
    z-index: 1;
    width: calc(var(--index) * 13.7);
  }
  &__perks-title {
    margin-bottom: calc(var(--index) * 6.33);
    font-weight: 800;
    font-size: calc(var(--index) * 1.58);
    line-height: 96%;

    text-align: right;
    letter-spacing: -0.033em;
  }
  &__perks-list {
    margin-bottom: calc(var(--index) * 7.06);
    counter-reset: count-perks;
  }

  &__perks-item {
    position: relative;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    font-size: calc(var(--index) * 2.2);
    line-height: 82%;

    letter-spacing: -0.033em;

    color: #c5fd64;
    counter-increment: count-perks;
  }
  &__perks-item:not(:last-child) {
    padding-bottom: calc(var(--index) * 1.66);
  }
  &__perks-item::before {
    position: absolute;
    top: 0;
    right: 0;
    content: '(0' counter(count-perks) ')';

    font-weight: 700;
    font-size: calc(var(--index) * 0.53);
    line-height: 86%;
    letter-spacing: -0.033em;
  }
  &__buy-text {
    margin-bottom: calc(var(--index) * 1.14);
    font-weight: 800;
    font-size: calc(var(--index) * 1.86);
    line-height: 99%;
    letter-spacing: -0.033em;
  }

  &__buy-link-line {
    margin-top: calc(var(--index) * 0.18);
  }
  &__line {
    margin-bottom: calc(var(--index) * 0.766);
    height: calc(var(--index) * 0.3);
    background-color: #ffffff;
  }
  &__buy-link {
    font-weight: 800;
    font-size: calc(var(--index) * 1.1);
    line-height: 120%;
    letter-spacing: -0.033em;
    color: #c5fd64;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    padding-bottom: toIndex(15);
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-bottom: toIndex(5) solid $green;
    }
    svg {
      width: calc(var(--index) * 1.5);
      height: calc(var(--index) * 1.5);
      stroke: $green;
      transition: 0.4s;
    }
    .split {
      display: flex;
      span {
        display: block;
      }
    }
    &:hover {
      svg {
        transform: translateX(100%);
        opacity: 0;
      }
      .split {
        span {
          animation: jumb 0.4s;
          &:nth-child(1) {
            animation-delay: 0s;
          }
          &:nth-child(2) {
            animation-delay: 0.05s;
          }
          &:nth-child(3) {
            animation-delay: 0.1s;
          }
          &:nth-child(4) {
            animation-delay: 0.15s;
          }
          &:nth-child(5) {
            animation-delay: 0.2s;
          }
          &:nth-child(6) {
            animation-delay: 0.25s;
          }
          &:nth-child(7) {
            animation-delay: 0.3s;
          }
          &:nth-child(8) {
            animation-delay: 0.35s;
          }
          &:nth-child(9) {
            animation-delay: 0.4s;
          }
          &:nth-child(10) {
            animation-delay: 0.45s;
          }
          &:nth-child(11) {
            animation-delay: 0.5s;
          }
          &:nth-child(12) {
            animation-delay: 0.55s;
          }
          &:nth-child(13) {
            animation-delay: 0.6s;
          }
          &:nth-child(14) {
            animation-delay: 0.65s;
          }
        }
      }
    }
  }
  &.active {
    .ambassador {
      &__line {
        background-color: #fff;
      }
      &__text {
        color: #fff;
      }
      &__title {
        color: $green;
      }
    }
  }
  &__line {
    transition: 0.3s;
    background-color: #fff;
  }
  &__text {
    transition: 0.3s;
  }
  &__title {
    transition: 0.3s;
  }
}
@media (min-width: 1200px) {
  .ambassador {
    &__sticky-wrap {
      width: 50%;
      flex-shrink: 0;
    }
    &__sticky-block {
      position: relative;
    }
    &__video {
      position: absolute;
      top: 43vh;
      left: 100%;
      transform: translate(-50%, -50%);
      width: 72.83%;
    }
  }
}
@media (max-width: 1199px) {
  .ambassador {
    .container {
      display: block;
    }
    &__video {
      display: block;
      width: 70%;
      margin-bottom: 20vh;
      margin-left: auto;
      margin-right: auto;
    }
    &__remark {
      display: none;
    }
    &__title {
      font-size: toIndex(240);
      margin-bottom: toIndex(150);
    }
    &__perks-container {
      margin-left: 0;
      width: 100%;
    }
    &__text {
      width: toIndex(700);
      font-size: toIndex(70);
      padding-right: toIndex(50);
      margin-bottom: toIndex(300);
    }
    &__perks-title {
      max-width: toIndex(600);
      margin-left: auto;
    }
    &__perks-list {
      max-width: toIndex(600);
      margin-left: auto;
    }
    &__perks-item {
      font-size: toIndex(100);
      &:not(:last-child) {
        padding-bottom: toIndex(80);
      }
      &::before {
        font-size: 16px;
        color: #fff;
      }
    }
    &__buy-text {
      font-size: toIndex(100);
      max-width: 80%;
      margin-bottom: toIndex(140);
    }
    &__buy-link {
      font-size: 27px;
      padding-bottom: 10px;
      &::after {
        border-bottom: 4px solid $green;
      }
      svg {
        width: 40px;
        height: 40px;
      }
    }
  }
}

@media (max-width: 767px) {
  .ambassador {
    &__sticky-block {
      display: flex;
      flex-direction: column;
    }
    &__video {
      margin-bottom: 12vh;
      order: 3;
      width: 100%;
    }

    &__title {
      margin-bottom: -5vh;
      font-size: toIndex(210);
    }
    &__text {
      width: 100%;
      font-size: 9vw;
      margin-bottom: 200px;
    }
    &__line {
      height: 7px;
      margin-bottom: 15px;
    }
    &__perks-title {
      max-width: 100%;
      font-size: 10vw;
      margin-bottom: 100px;
    }
    &__perks-list {
      max-width: 100%;
      margin-bottom: 150px;
    }
    &__perks-item {
      font-size: 16vw;
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }
}
