.line {
  margin-bottom: calc(var(--index) * 0.766);
  height: calc(var(--index) * 0.3);
  background-color: #ffffff;
}
.line--color-accent {
  background: #c5fd64;
}
.ambassador {
  padding-bottom: calc(var(--index) * 11.2);
  position: relative;
  background: #000000;
}
.ambassador__video-container {
  position: relative;
  height: calc(var(--index) * 32.4);
  padding-top: calc(var(--index) * 3.63);
  padding-bottom: calc(var(--index) * 0.96);
  display: flex;
  justify-content: space-between;
}
.ambassador__remark {
  position: absolute;
  top: calc(var(--index) * 3.5);
  left: 0;
  font-family: 'RF Dewi', sans-serif;
  font-weight: 700;
  font-size: calc(var(--index) * 0.53);
  line-height: 86%;
  letter-spacing: -0.033em;

  color: #333333;
}
.ambassador__title {
  align-self: flex-end;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 700;
  font-size: calc(var(--index) * 6.63);
  line-height: 82%;

  letter-spacing: -0.033em;

  color: #c5fd64;
}
.ambassador__text {
  width: calc(var(--index) * 13.7);
  font-family: 'RF Dewi', sans-serif;
  font-weight: 800;
  font-size: calc(var(--index) * 1.58);
  line-height: 96%;

  letter-spacing: -0.033em;

  color: #ffffff;
}
.ambassador__perks-container {
  margin-left: auto;
  width: calc(var(--index) * 13.7);
}
.ambassador__perks-title {
  margin-bottom: calc(var(--index) * 6.33);
  font-family: 'RF Dewi', sans-serif;
  font-weight: 800;
  font-size: calc(var(--index) * 1.58);
  line-height: 96%;

  text-align: right;
  letter-spacing: -0.033em;

  color: #ffffff;
}
.ambassador__perks-list {
  margin-bottom: calc(var(--index) * 7.06);
  counter-reset: count-perks;
}

.ambassador__perks-item {
  position: relative;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 700;
  font-size: calc(var(--index) * 2.2);
  line-height: 82%;

  letter-spacing: -0.033em;

  color: #c5fd64;
  counter-increment: count-perks;
}
.ambassador__perks-item:not(:last-child) {
  padding-bottom: calc(var(--index) * 1.66);
}
.ambassador__perks-item::before {
  position: absolute;
  top: 0;
  right: 0;
  content: '(0' counter(count-perks) ')';

  font-family: 'RF Dewi', sans-serif;
  font-weight: 700;
  font-size: calc(var(--index) * 0.53);
  line-height: 86%;
  letter-spacing: -0.033em;

  color: #ffffff;
}
.ambassador__buy-text {
  margin-bottom: calc(var(--index) * 1.14);
  font-family: 'RF Dewi', sans-serif;
  font-weight: 800;
  font-size: calc(var(--index) * 1.86);
  line-height: 99%;
  letter-spacing: -0.033em;

  color: #ffffff;
}
.ambassador__buy-link {
  font-family: 'RF Dewi', sans-serif;
  font-weight: 800;
  font-size: calc(var(--index) * 1.1);
  line-height: 120%;
  letter-spacing: -0.033em;

  color: #c5fd64;
}
.ambassador__icon-union {
  margin-left: calc(var(--index) * 3.73);
  width: calc(var(--index) * 1.5);
  height: calc(var(--index) * 1.5);
}
.ambassador__buy-link-line {
  margin: 0;
  margin-top: calc(var(--index) * 0.18);
}
