.cnt-section {
  & + .footer .footer__social-list-cont {
    display: none;
  }
  padding: toIndex(200) 0;
  &__row {
    display: flex;
    justify-content: space-between;
  }
  &__col {
    &:first-child {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &:last-child {
      // width: calc(var(--index) * 22.267);
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
    }
  }
  &__title {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: toIndex(266);
    line-height: 1;
    letter-spacing: -0.033em;
    transition: color 0.3s;
    .split {
      overflow: hidden;
      display: flex;
      padding-right: 0.033em;
      margin-bottom: -5%;
      span {
        display: block;
      }
    }
  }
  &__name {
    color: #000;
    opacity: 0.33;
    // text-align: right;
    // margin-bottom: toIndex(65);
    // margin-top: toIndex(50);
    font-size: toIndex(14);
  }
  &__mail {
    margin-top: toIndex(15);
    display: block;
    color: #c5fd64;
  }
  &__subtitle {
    font-weight: 800;
    font-size: calc(var(--index) * 1.6);
    line-height: 1.2;
    letter-spacing: -0.033em;
    // max-width: calc(var(--index) * 15);

    & > * {
      display: block;
      overflow: hidden;

      &:not(:last-child) {
        margin-bottom: -2%;
      }
    }
    span {
      display: block;
    }
  }
  &__socials-title {
    font-weight: 800;
    font-size: toIndex(17);
    line-height: 120%;
    letter-spacing: -0.033em;
    color: #ffffff;
    opacity: 0.22;
    margin-bottom: toIndex(20);
  }
  &__link {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: toIndex(250);
    color: $green;
    font-size: 13.25vw;
    display: inline-block;
    & > span {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media (max-width: 1199px) {
  .cnt-section {
    .container {
      position: relative;
      padding-top: 11.5vh;
    }
    &__row {
      display: block;
      // position: relative;
    }
    &__col {
      width: 100%;
      &:last-child {
        width: 100%;
      }
      .cnt-section__socials {
        display: none;
      }
    }
    &__title {
      margin-bottom: toIndex(140);
    }
    &__name {
      position: absolute;
      top: 0;
      display: block;
      font-size: 16px;
    }
    &__link {
      font-size: 13vw;
    }
    &__subtitle {
      font-size: toIndexMob(33);
    }
  }
}

@media (max-width: 767px) {
  .cnt-section {
    &__title {
      font-size: toIndex(240);
    }
    &__link {
      font-size: 12.7vw;
    }
  }
}
@media (max-width: 450px) {
  .cnt-section {
    &__subtitle {
      font-size: toIndexMob(26);
    }
  }
}
