.exp-ar {
  padding-top: toIndex(150);
  padding-bottom: toIndex(315);
  position: relative;
  &.active + .community.active {
    .ambassador__buy-link {
      color: #000;
      &::after {
        border-color: #000;
      }
    }
  }
  &.active {
    .ambassador__buy-link {
      color: $green;
      &::after {
        border-color: $green;
      }
    }
  }
  .ambassador__buy-link {
    color: $purpure;
    &::after {
      border-color: $purpure;
    }
  }
  &__remark {
    position: absolute;
    top: toIndex(150);
    left: toIndex(20);
    color: #333333;
  }
  &__title {
    position: relative;
    margin-left: 26%;
    margin-bottom: toIndex(170);
    font-weight: 800;
    font-size: toIndex(133);
    line-height: 94%;

    letter-spacing: -0.033em;
  }

  &__ampersand {
    display: block;
    text-align: right;
  }
  &__subtitle {
    position: absolute;
    right: 0;
    bottom: 0;
    font-weight: 800;
    font-size: toIndex(22);
    line-height: 96%;
    letter-spacing: -0.033em;
  }
  &__link {
    width: toIndex(595);
    margin-left: auto;
  }
}

@media (max-width: 1299px) {
  .exp-ar {
    &__title {
      font-size: toIndex(120);
    }
  }
}

@media (max-width: 1199px) {
  .exp-ar {
    &__remark {
      position: relative;
      margin-bottom: toIndex(50);
      top: 0;
      left: 0;
    }
    &__title {
      margin-left: 0;
      font-size: toIndex(200);
    }
    &__subtitle {
      position: relative;
      display: flex;
      align-items: center;
      font-size: toIndex(32);
      margin-top: toIndex(60);
    }
    &__ampersand {
      position: relative;
    }
    &__link {
      width: 100%;
      margin-left: 0;
    }
  }
}

@media (max-width: 767px) {
  .exp-ar {
    padding-bottom: toIndex(400);
    &__remark {
      display: none;
    }
    &__title {
      text-align: right;
      font-size: 15vw;
      margin-bottom: 25px;
    }
    &__subtitle {
      font-size: 22px;
      margin-bottom: 50px;
    }
  }
}
