.exp-section {
  padding: calc(var(--index) * 6.667) 0;
  &__title {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: calc(var(--index) * 7.66);
    line-height: 82%;
    letter-spacing: -0.033em;
    color: #000000;
    margin-bottom: calc(var(--index) * -3.66);
  }
  &__list {
    overflow: hidden;
    > div {
      display: flex;
    }
  }
}

.js-marquee {
  display: flex;
}

.exp-card {
  width: calc(var(--index) * 14.33);
  height: calc(var(--index) * 14.33);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin: 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    168.55deg,
    rgba(10, 17, 33, 0.06) -4.52%,
    rgba(22, 29, 50, 0) 112.85%
  );
  backdrop-filter: blur(8px);
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    border-radius: 50%;
  }
  img {
    position: relative;
    z-index: 1;
  }
}

@media (max-width: 1199px) {
  .exp-section {
    &__title {
      font-size: toIndex(270);
    }
  }
  .exp-card {
    width: 360px;
    height: 360px;
  }
}
