.knw-more {
  margin-top: toIndex(200);
  padding-bottom: toIndex(200);
  display: flex;
  justify-content: space-between;
  position: relative;
  &__remark {
    position: absolute;
    top: 0;
    right: toIndex(240);
    transform: rotate(-90deg) translateX(-50%);
    font-weight: 700;
    font-size: toIndex(16);
    line-height: 86%;
    letter-spacing: -0.033em;

    color: #333333;
  }
  &__title {
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: toIndex(230);
    line-height: 1;
    letter-spacing: -0.033em;
    .split {
      overflow-y: hidden;
      padding-right: 0.033em;

      display: flex;
      &:not(:last-child) {
        margin-bottom: -2%;
      }
    }
  }
  &__block {
    text-align: right;
    margin-top: auto;
    // margin-bottom: 2.5%;
  }
  &__block-title {
    font-weight: 800;
    font-size: toIndex(33);
    line-height: 96%;
    letter-spacing: -0.033em;
    color: #4f06c6;
    margin-bottom: 1.5vh;
  }
}

@media (max-width: 1299px) {
  .knw-more {
    flex-direction: column;
    &__remark {
      right: 10%;
    }
    &__title {
      margin-bottom: toIndex(80);
      font-size: toIndex(300);
    }
    &__block {
      margin-left: auto;
    }
  }
}

@media (max-width: 1199px) {
  .knw-more {
    &__title {
      font-size: toIndex(260);
    }
    &__remark {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .knw-more {
    padding-top: toIndex(200);
    padding-bottom: 150px;
    &__title {
      font-size: 20.5vw;
      margin-bottom: 50px;
    }
    &__block-title {
      font-size: 22px;
      margin-bottom: 2.7vh;
    }
    &__link {
      font-size: 26.5vw;
    }
  }
}
