.knw-more {
  margin-top: toIndex(200);
  padding-bottom: toIndex(200);
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: #000;
  &__remark {
    position: absolute;
    top: 0;
    right: toIndex(240);
    transform: rotate(-90deg) translateX(-50%);
    font-weight: 700;
    font-size: toIndex(16);
    line-height: 86%;
    letter-spacing: -0.033em;

    color: #333333;
  }
  &__title {
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: toIndex(230);
    line-height: 1;
    letter-spacing: -0.033em;
    color: #ffffff;
    .split {
      overflow: hidden;
      display: flex;
      &:not(:last-child) {
        margin-bottom: -2%;
      }
    }
  }
  &__block {
    text-align: right;
    margin-top: auto;
    margin-bottom: 2.5%;
  }
  &__block-title {
    font-weight: 800;
    font-size: toIndex(33);
    line-height: 96%;
    letter-spacing: -0.033em;
    color: #4f06c6;
  }
}
