.knw-more {
  padding-top: toIndex(240);
  padding-bottom: toIndex(230);
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: #000;
  &__remark {
    position: absolute;
    top: 0;
    right: toIndex(240);
    transform: rotate(-90deg) translateX(-50%);
    font-weight: 700;
    font-size: toIndex(16);
    line-height: 86%;
    letter-spacing: -0.033em;

    color: #333333;
  }
  &__title {
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: toIndex(233);
    line-height: 82%;
    /* or 191px */

    letter-spacing: -0.033em;

    color: #ffffff;
  }

  &__link {
    align-self: flex-end;
  }
  &__link-subtitle {
    margin-bottom: toIndex(18);
    font-weight: 800;
    font-size: toIndex(33);
    line-height: 96%;
    text-align: right;
    /* identical to box height, or 32px */

    letter-spacing: -0.033em;

    color: #4f06c6;
  }

  &__link-title {
    position: relative;
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: toIndex(233);
    line-height: 96%;
    /* identical to box height, or 224px */

    letter-spacing: -0.033em;

    color: #4f06c6;
  }
  &__link-line::after {
    display: block;
    content: '';
    position: absolute;
    bottom: toIndex(25);
    left: 0;
    height: toIndex(15);
    width: 100%;
    background: #4f06c6;
  }
}
