.menu {
  opacity: 0;
  transition: 400ms;
  pointer-events: none;
  &.show {
    pointer-events: all;
    z-index: 99999;
    opacity: 1;
  }
  background-color: #000;
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100vw;
  color: #fff;
  & > .container {
    padding-top: 10vh;
    padding-bottom: 7.4vh;
  }
  &__header {
    margin-bottom: 8.6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    font-weight: 800;
    font-size: toIndexMob(15);
    line-height: 86%;
    /* identical to box height, or 13px */

    letter-spacing: -0.033em;
    text-transform: uppercase;

    /* Белый */

    color: #ffffff;
  }
  &__close-btn {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    font-weight: 800;
    font-size: toIndexMob(15);
    line-height: 86%;
    /* identical to box height, or 13px */

    letter-spacing: -0.033em;
    text-transform: uppercase;

    /* Green */

    color: #c5fd64;
    background: none;
    border: none;
    cursor: pointer;
    svg {
      margin-right: toIndexMob(10);
      width: toIndexMob(33);
      height: auto;
    }
  }
  &__nav {
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: toIndexMob(110);
    line-height: 1;
    display: block;
    /* identical to box height, or 57px */

    letter-spacing: -0.033em;
    a {
      display: block;
      color: #fff;
    }
  }

  &__nav-item {
    overflow-y: hidden;
  }
  &__nav-link {
    margin-bottom: -2%;
    & > div {
      display: none;
    }
  }
  &__mail {
    display: block;
    font-size: toIndexMob(24);
    line-height: 86%;
    /* identical to box height, or 21px */

    letter-spacing: -0.033em;

    /* Белый */

    color: #ffffff;

    opacity: 0.1;
    margin-bottom: toIndexMob(70);
  }
  &__ticker {
    margin-bottom: toIndexMob(60);
    svg {
      height: toIndexMob(65);
      width: auto;
    }
  }
  &__social-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: toIndexMob(70);
  }
  &__social-item {
    display: flex;
    gap: toIndexMob(15);
    align-items: center;
    &::before {
      content: '';
      display: inline-block;
      width: toIndexMob(10);
      height: toIndexMob(10);
      background: url('../img/menu-list-item_mob.svg') no-repeat center;
    }
  }
  &__social-link {
    font-size: toIndexMob(24);
    line-height: 86%;
    /* identical to box height, or 21px */

    letter-spacing: -0.033em;

    /* Белый */

    color: #ffffff;
  }
}
@media (max-width: 1199px) {
  .menu {
    height: 100vh;
    overflow-y: scroll;
    &__nav {
      margin-bottom: toIndexMob(45);
    }

    &__social-link {
      display: block;
      position: relative;
      width: 100%;
      overflow: hidden;
      line-height: 2;
      & span {
        display: flex;
        // justify-content: flex-end;
      }
      & .button__split-bottom {
        right: 0;
      }
      & div {
        height: 3px;
      }
    }
    &__social-line {
      display: none;
      margin-top: 2vh;
      background-color: currentColor;
      height: 3px;
    }
  }
}
@media (min-width: 1200px) {
  .menu {
    & > .container {
      padding-top: toIndex(60);
      padding-bottom: toIndex(0);
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__header {
      margin-bottom: 0;
      justify-content: flex-end;
    }
    &__logo {
      display: none;
    }
    &__close-btn {
      font-size: toIndex(20);
      svg {
        margin-left: toIndex(20);
        width: toIndex(37);
      }
    }
    &__inner {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__inner-wrap {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: toIndex(80);
      grid-template-areas:
        'mail social'
        'ticker ticker';
    }
    &__nav {
      grid-area: nav;
      font-size: toIndex(133);
    }
    &__nav-link {
      margin-bottom: toIndex(-13);
    }
    &__mail {
      grid-area: mail;
      margin-bottom: 0;
      font-size: toIndex(38);
    }
    &__ticker {
      grid-area: ticker;
      margin-bottom: 0;
    }
    &__social-list {
      padding-right: 0;
      grid-area: social;
      display: flex;
      justify-self: flex-end;
      align-self: flex-end;
      gap: toIndex(20);
    }
    &__social-item {
      gap: toIndex(20);
      &::before {
        width: toIndex(20);
        height: toIndex(20);
        background-image: url('../img/menu-list-item.svg');
      }
      &:first-child {
        &::before {
          display: none;
        }
      }
    }
    &__social-link {
      position: relative;
      font-size: toIndex(38);
      &::after {
        content: attr(data-link-hover);
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        display: block;
        opacity: 0;
        transition: 0.3s ease-in-out;
        pointer-events: none;
      }
      span {
        display: block;
        transition: 0.3s ease-in-out;
        position: relative;
      }
      &:hover {
        span {
          transform: translateY(-100%);
          opacity: 0;
        }
        &::after {
          top: 0px;
          opacity: 1;
        }
      }
    }
    &__ticker {
      svg {
        height: toIndex(214);
      }
    }
  }
}
