.footer {
  padding: toIndex(60) 0;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(var(--index) * 2);
    width: calc(100% - calc(var(--index) * 4));
    border: 1px solid rgba(#d9d9d9, 0.1);
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__copyright {
    font-weight: 700;
    font-size: toIndex(18);
    line-height: 120%;
    letter-spacing: -0.033em;
    color: #ffffff;
    opacity: 0.2;
  }
  &__group {
    display: flex;
    align-items: center;
    width: calc(var(--index) * 22.267);
    justify-content: space-between;
  }
  &__nav {
    display: flex;
    align-items: center;
    li {
      margin-right: calc(var(--index) * 0.8);
      &:last-child {
        margin-right: 0;
      }
    }
    a {
      font-weight: 700;
      font-size: calc(var(--index) * 0.6);
      line-height: 86%;
      letter-spacing: -0.033em;
      text-transform: uppercase;
      color: #fff;
      font-family: 'RF Dewi';
      position: relative;
      display: block;
      span {
        display: block;
        transition: 0.3s ease-in-out;
        position: relative;
      }
      &::after {
        content: attr(data-link-hover);
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        display: block;
        opacity: 0;
        transition: 0.3s ease-in-out;
        pointer-events: none;
      }
      &:hover {
        span {
          transform: translateY(-100%);
          opacity: 0;
        }
        &::after {
          top: 0px;
          opacity: 1;
        }
      }
    }
  }
}

.dev {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: toIndex(16);
  line-height: 120%;
  letter-spacing: -0.033em;
  color: rgba(#fff, 0.22);
  transition: 0.3s;
  svg {
    margin-left: toIndex(60);
    width: toIndex(48);
    transition: 0.3s;
  }
  &:hover {
    color: #fff;
  }
}
