.partners-section {
  padding: calc(var(--index) * 6.667) 0;
  .container {
    display: flex;
  }
  &__name {
    width: 26%;
    flex-shrink: 0;
  }
  &__list {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    margin: 0 toIndex(-20) toIndex(-20);
  }
  &__list-item {
    padding: 0 toIndex(20) toIndex(20);
    width: calc(100% / 3);
  }
}

.partner-card {
  background-color: transparent;
  perspective: 2000px;
  height: 100%;
  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  &:hover {
    .partner-card {
      &__inner {
        transform: rotateY(-180deg);
      }
    }
  }
  &__front {
    background: #edeff2;
    border-radius: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  &__back {
    position: relative;
    z-index: 1;
    background: #edeff2;
    border-radius: 20px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    transform: rotateY(180deg);
    padding: calc(var(--index) * 1);
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-weight: 800;
    font-size: calc(var(--index) * 1);
    line-height: 99%;
    letter-spacing: -0.033em;
    color: #000000;
    margin-bottom: calc(var(--index) * 0.66);
    padding-right: calc(var(--index) * 0.66);
  }
  &__text {
    font-weight: 600;
    font-size: calc(var(--index) * 0.6);
    line-height: 116%;
    letter-spacing: -0.033em;
    color: #000000;
    padding-right: calc(var(--index) * 3.3);
    margin-bottom: auto;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__subtitle {
    margin-top: calc(var(--index) * 3.3);
    font-weight: 700;
    font-size: calc(var(--index) * 0.6);
    line-height: 96%;
    letter-spacing: -0.033em;
    color: #000000;
    opacity: 0.22;
    max-width: calc(var(--index) * 3.3);
    margin-bottom: calc(var(--index) * 0.83);
  }
  &__img {
    width: calc(var(--index) * 6.66);
    height: calc(var(--index) * 6.66);
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
}
