.promo-second {
  padding-top: 16vh;
  padding-bottom: 16vh;
  &__top-title-cont {
    position: relative;
    & > .promo-second__subtitle {
      position: absolute;
      transform: rotate(-90deg) translate(-50%, 200%);
      top: 0;
      right: 0;
    }
  }
  &__subtitle {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -0.033em;
  }
  &__title {
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: toIndexMob(84);
    line-height: 1;
    letter-spacing: -0.032em;
    &--color-accent {
      color: $purpure;
    }
    & > .line {
      overflow-y: hidden;
      padding-right: 0.032em;
    }
  }
  &__bottom-title-cont {
    margin-bottom: 2vh;
    text-align: right;
    & > .promo-second__subtitle {
      display: none;
    }
  }

  &__text {
    font-weight: 800;
    font-size: toIndexMob(22);
    line-height: 94%;
    text-align: right;
    letter-spacing: -0.033em;
    max-width: toIndexMob(275);
    margin-left: auto;
  }
}

@media (max-width: 1199px) {
  .promo-second {
    .desktop {
      display: none;
    }
    &__title {
      .line {
        margin-bottom: toIndexMob(-16);
      }
    }
  }
}
@media (min-width: 1200px) {
  .promo-second {
    padding-top: toIndex(245);
    padding-bottom: toIndex(120);
    .mobile {
      display: none;
    }
    &__subtitle {
      font-size: 16px;
    }

    &__title {
      font-size: toIndex(189);
      & > .line {
        margin-bottom: toIndex(-26);
      }
    }

    &__bottom-title-cont {
      margin-top: toIndex(-189);
      margin-bottom: toIndex(30);
      position: relative;
      & > .promo-second__subtitle {
        display: block;
        position: absolute;
        bottom: toIndex(36);
        left: 0;
      }
    }

    &__text {
      font-size: toIndex(33);
    }
  }
}
