.promo-second {
  padding-top: 16vh;
  padding-bottom: 16vh;
  &__top-title-cont {
    position: relative;
    & > .promo-second__subtitle {
      position: absolute;
      transform: rotate(-90deg) translate(-50%, 100%);
      top: 0;
      right: 0;
    }
  }
  &__subtitle {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -0.033em;
  }
  &__title {
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: toIndexMob(86);
    line-height: 1;
    letter-spacing: -0.032em;
    display: flex;
    flex-wrap: wrap;
    & > .split {
      display: flex;
      overflow-y: hidden;
      padding-right: var(--index);
    }
  }
  &__bottom-title-cont {
    margin-bottom: 2vh;
    & > .promo-second__subtitle {
      display: none;
    }
  }
  &__bottom-title {
    color: #4f06c6;
    justify-content: flex-end;
    margin-right: calc(var(--index) * -1);
    & > .split {
      justify-content: flex-end;
    }
  }
  &__text {
    font-weight: 800;
    font-size: toIndexMob(22);
    line-height: 94%;
    text-align: right;
    letter-spacing: -0.033em;
  }
}
@media (max-width: 767px) {
  .promo-second {
    &__top-title {
      & > .split:first-child {
        width: 100%;
      }
    }
    &__text {
      max-width: 87%;
      margin-left: auto;
    }
  }
}
@media (min-width: 1200px) {
  .promo-second {
    padding-top: toIndex(245);
    padding-bottom: toIndex(120);
    &__subtitle {
      font-size: 16px;
    }

    &__title {
      font-size: toIndex(189);
      & > span {
        margin-bottom: toIndex(-26);
      }
    }
    &__top-title {
      max-width: toIndex(1200);
      .split:last-child {
        span:last-child {
          color: $purpure;
        }
      }
    }
    &__bottom-title-cont {
      margin-top: toIndex(-163);
      margin-bottom: toIndex(30);
      position: relative;
      & > .promo-second__subtitle {
        display: block;
        position: absolute;
        bottom: toIndex(36);
        left: 0;
      }
    }
    &__bottom-title {
      margin-left: auto;
      max-width: toIndex(920);
      &>span {
        &:first-child {
          margin-left: 40%;
        }
        &:nth-child(3){
          margin-left:20%;
        }
      }
    }
    &__text {
      font-size: toIndex(33);
    }
  }
}
