.roadmap {
  padding-top: 7vh;
  padding-bottom: 7vh;
  overflow-x: hidden;
  &__row {
    margin-bottom: 11vh;
  }
  &__subtitle {
    font-weight: 700;
    font-size: toIndexMob(14);
    letter-spacing: -0.033em;
    margin-bottom: 5vh;
  }
  &__title {
    font-weight: 800;
    font-size: toIndexMob(70);
    letter-spacing: -0.05em;
    & > .split {
      overflow-y: hidden;
      display: flex;
    }
  }
  &__list-wrap {
    position: relative;
  }
  &__item {
    width: 140%;
    padding-top: 140%;
    border: 2px solid rgba(0, 0, 0, 0.12);
    border-radius: 50%;
    position: relative;
    &:not(:last-child) {
      margin-bottom: -20%;
    }
  }
  &__item-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__item-title {
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: toIndexMob(44);
    line-height: 82%;
    text-align: center;
    letter-spacing: -0.033em;
  }
  &__item-text {
    margin-top: toIndexMob(15);
    font-weight: 700;
    font-size: toIndexMob(20);
    line-height: 82%;

    text-align: center;
    letter-spacing: -0.033em;
  }
}
@media (max-width: 767px) {
  .roadmap {
    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
@media (min-width: 768px) {
  .roadmap {
    &__subtitle {
      margin-bottom: toIndexTab(40);
    }
    &__item {
      width: 100%;
      padding-top: 100%;
      &:not(:last-child) {
        margin-bottom: -15%;
      }
    }
    &__item-title {
      font-size: toIndexTab(55);
    }
    &__item-text {
      margin-top: toIndexTab(15);
      font-size: toIndexTab(21);
    }
  }
}
@media (min-width: 1200px) {
  .roadmap {
    padding-top: toIndex(200);
    padding-bottom: toIndex(275);
    &__row {
      position: relative;
      margin-bottom: toIndex(105);
    }
    &__subtitle {
      position: absolute;
      font-size: toIndex(16);
      margin-top: toIndex(15);
      margin-bottom: 0;
    }
    &__title {
      font-size: toIndex(133);
      & > .split {
        justify-content: center;
      }
    }

    &__list {
      position: relative;
      left: 31.75%;
      display: flex;
      flex-wrap: nowrap;
    }
    &__item {
      flex-shrink: 0;
      width: 36.5%;
      padding-top: 36.5%;
      transition: 250ms ease-in-out;

      &:not(:last-child) {
        margin-bottom: 0;
        margin-right: -2%;
      }
    }
    &__item.active {
      background-color: #000;
      color: #c5fd64;
    }
    &__item-title {
      font-size: toIndex(66);
    }
    &__item-text {
      margin-top: toIndex(15);
      font-size: toIndex(22);
    }
  }
}
