.section-text {
  padding: toIndex(200) 0;
  &__line {
    height: toIndex(16);
    width: 100%;
    background-color: #000;
    margin-bottom: toIndex(50);
  }
  &__body {
    display: grid;
    grid-template-columns: 1fr 26%;
  }
  &__title {
    font-weight: 800;
    font-size: toIndex(133);
    line-height: 94%;
    letter-spacing: -0.033em;
  }
  &__name {
    text-align: right;
  }
}

@media (max-width: 1199px) {
  .section-text {
    &__body {
      grid-template-columns: 1fr 5%;
      position: relative;
    }
    &__name {
      position: absolute;
      top: 0;
      right: 0;
      transform: rotate(-90deg);
      transform-origin: right;
    }
  }
}

@media (max-width: 767px) {
  .section-text {
    &__name {
      display: none;
    }
    &__body {
      grid-template-columns: 1fr;
    }
  }
}
