.section-enter {
  padding: toIndex(200) 0;
  &__title {
    display: flex;
    flex-direction: column;
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: toIndex(330);
    line-height: 1;
    text-align: center;
    letter-spacing: -0.033em;
    margin-bottom: toIndex(200);
    .split {
      overflow-y: hidden;
      display: flex;
      justify-content: center;
      &:not(:last-child) {
        margin-bottom: -3%;
      }
    }
  }
  &__block {
    &:not(:last-child) {
      margin-bottom: toIndex(100);
    }
    &:nth-child(even) {
      text-align: right;
    }
  }
  &__block-title {
    font-weight: 800;
    font-size: toIndex(26);
    line-height: 96%;
    letter-spacing: -0.033em;
    opacity: 0.99;
    margin-bottom: toIndex(40);
  }
  &__block-text {
    font-weight: 800;
    font-size: toIndex(100);
    line-height: 1;
    letter-spacing: -0.033em;
    opacity: 0.99;
    div {
      overflow: hidden;
      &:not(:last-child) {
        margin-bottom: toIndex(-10);
      }
    }
  }
}

@media (max-width: 767px) {
  .section-enter {
    background-color: #e0e3e7;
    &__title {
      font-size: toIndex(225);
      margin-bottom: toIndexMob(135);
    }
    &__block {
      &:not(:last-child) {
        margin-bottom: toIndexMob(135);
      }
    }
    &__block-title {
      font-size: toIndexMob(18);
      margin-bottom: toIndexMob(15);
    }
    &__block-text {
      font-size: toIndexMob(40);
      div {
        overflow: hidden;
        &:not(:last-child) {
          margin-bottom: toIndex(-5);
        }
      }
    }
  }
}
