.section-discuss {
  padding: toIndex(200) 0;
  .container {
    position: relative;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr toIndex(600);
    gap: toIndex(30);
    align-items: flex-end;
  }
  .col {
    position: relative;
    &:first-child {
      width: min-content;
    }
    &:last-child {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__title {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: toIndex(266);
    line-height: 1;
    letter-spacing: -0.033em;
    .split {
      display: flex;
      overflow: hidden;
      padding-right: 0.033em;
      padding-left: 0.033em;

      &:not(:last-child) {
        margin-bottom: -3%;
      }
      span {
        display: block;
      }
    }
  }
  &__subtitle {
    max-width: toIndex(310);
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(70%);
    font-weight: 800;
    font-size: toIndex(26);
    line-height: 94%;
    letter-spacing: -0.033em;
    // margin-top: toIndex(60);
    overflow-y: hidden;

    & > div {
      &:last-child {
        padding-bottom: 0.1em;
      }
    }
  }
  &__name {
    text-align: right;
    font-size: toIndex(16);
    opacity: 0.33;
  }
  &__email {
    font-weight: 800;
    font-size: toIndex(47);
    line-height: 96%;
    letter-spacing: -0.033em;
    color: #c5fd64;
    margin-bottom: toIndex(30);
  }
  .link {
    margin-bottom: toIndex(50);
  }
  .form {
    padding-top: toIndex(40);
  }
  .form__field-textarea {
    height: toIndex(230);
  }
}

@media (min-width: 1200px) and (max-width: 1299px) {
  .section-discuss {
    &__title {
      font-size: toIndex(220);
    }
  }
}

@media (max-width: 1199px) {
  .section-discuss {
    .container {
      position: relative;
    }
    .grid {
      display: block;
      // grid-template-columns: 1fr;
      // gap: toIndex(100);
    }
    .col {
      position: static;
      &:last-child {
        display: block;
      }
    }
    &__title {
      margin-bottom: toIndex(50);
    }
    &__subtitle {
      margin-bottom: 12vh;
      max-width: toIndexMob(175);
      position: static;
      font-size: toIndexMob(26);
      transform: none;
    }

    &__name {
      position: absolute;
      transform: rotate(-90deg);
      transform-origin: right;
      top: 0;
      right: calc(var(--index) * 2);
      font-size: 14px;
    }
  }
}
@media (max-width: 410px) {
  .section-discuss {
    &__name {
      top: -15px;
    }
  }
}
@media (max-width: 767px) {
  .section-discuss {
    &__title {
      font-size: toIndex(220);
    }
    &__email {
      font-size: 27px;
    }
    // &__subtitle {
    //   font-size: toIndex(45);
    // }
    // &__name {
    //   top: -15%;
    // }
  }
}
@media (min-width: 1200px) {
  .section-discuss + .footer .footer__social-list-cont {
    display: none;
  }
}
