.section-values {
  padding: 35vh 0;
  &__title {
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: toIndexMob(90);
    letter-spacing: -0.033em;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
  }
  &__cards {
    width: toIndexMob(270);
  }
  &.active {
    .value-card {
      background: #c5fd64;
      color: #000;
      &__title,
      &__text {
        color: #000;
      }
      &__line {
        .black {
          fill: currentColor;
        }
        .green {
          fill: $green;
        }
      }
    }
  }
}
.value-card {
  background-color: #000;
  border-radius: 14px;
  padding: toIndexMob(25) toIndexMob(25) toIndexMob(50) toIndexMob(30);
  min-height: toIndexMob(435);
  transition: 0.3s;
  &__line {
    margin-bottom: toIndexMob(40);
    display: flex;
    justify-content: flex-end;
    & > svg {
      width: toIndexMob(114);
      height: auto;
      .black {
        fill: currentColor;
        transition: 0.3s;
      }
      .green {
        fill: #fff;
        transition: 0.3s;
      }
    }
  }
  &__title {
    font-weight: 800;
    font-size: toIndexMob(30);
    line-height: 90%;
    letter-spacing: -0.033em;
    color: #fff;
    transition: 0.3s;
    padding-bottom: toIndexMob(43);
    margin-bottom: toIndexMob(15);
    position: relative;
    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      width: 33px;
      height: 2px;
      background-color: rgba($color: #000000, $alpha: 0.2);
    }
  }
  &__text {
    font-weight: 400;
    font-size: toIndexMob(18);
    line-height: 120%;
    letter-spacing: -0.033em;
    color: #fff;
    transition: 0.3s;
    padding-right: toIndexMob(20);
  }
}
@media (max-width: 1199px) {
  .section-values {
    &__title {
      margin-bottom: 8.5vh;
    }
    &__cards {
      margin: 0 auto;
    }
    &__cards-item:not(:last-child) {
      margin-bottom: 2.5vh;
    }
  }
}
@media (min-width: 768px) {
  .section-values {
    &__title {
      font-size: toIndexTab(120);
    }
    &__cards {
      width: toIndexTab(340);
      gap: toIndexTab(25);
    }
  }

  .value-card {
    padding: toIndexTab(25) toIndexTab(25) toIndexTab(50) toIndexTab(30);
    min-height: toIndexTab(435);
    &__line {
      margin-bottom: toIndexTab(40);
    }
    &__title {
      font-size: toIndexTab(36);
      padding-bottom: toIndexTab(43);
      margin-bottom: toIndexTab(15);
    }
    &__text {
      font-size: toIndexTab(22);
      padding-right: toIndexTab(20);
    }
    &__line {
      margin-bottom: toIndexTab(40);

      & > svg {
        width: toIndexTab(143);
      }
    }
  }
}
@media (min-width: 1200px) {
  .section-values {
    padding: toIndex(200) 0 0;
    &__title {
      font-size: toIndex(530);
    }
    &__cards {
      width: auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: toIndex(130);
      padding: 0 toIndex(120);
    }
    &__cards-item {
      &:nth-child(2) {
        margin-top: toIndex(300);
      }
      &:nth-child(3) {
        margin-top: toIndex(600);
      }
      &:nth-child(4) {
        margin-top: toIndex(-300);
      }
      &:last-child {
        grid-column-start: 2;
        grid-column-end: 3;
      }
    }
  }

  .value-card {
    border-radius: 19px;
    padding: toIndex(50) toIndex(50) toIndex(100) toIndex(50);
    min-height: toIndex(600);
    &__line {
      margin-bottom: toIndex(40);
      & > svg {
        width: toIndex(161);
      }
    }
    &__title {
      font-size: toIndex(44);
      padding-bottom: toIndex(60);
      margin-bottom: toIndex(20);
    }
    &__text {
      font-size: toIndex(26);
      padding-right: toIndex(35);
    }
  }
}
