.solution {
  & > .container {
    position: relative;
    height: 100vh;
    padding-top: 8vh;
  }
  &__line {
    margin-bottom: 3vh;
    height: 1px;
    background: #a9b5be;
  }
  &__text {
    font-weight: 600;
    font-size: toIndexMob(33);
    letter-spacing: -0.05em;
    & > .line {
      margin-bottom: toIndexMob(-3);
      padding-left: 0.05em;
      padding-right: 0.05em;
      overflow-y: hidden;
    }
  }
  &__title {
    font-weight: 800;
    font-size: toIndexMob(83);
    line-height: 90%;
    letter-spacing: -0.05em;
    & > .line {
      overflow-y: hidden;
      white-space: nowrap;
      padding: 0 0.05em;
    }
  }
}
.slide {
  &__title {
    font-weight: 800;
    font-size: toIndex(333);
    line-height: 90%;
    /* identical to box height, or 300px */

    letter-spacing: -0.05em;
    & > svg {
      fill: currentColor;
    }
  }
  &__col {
    display: flex;
    flex-direction: column;
  }
  &__subtitle {
    margin-bottom: toIndexMob(30);
    font-weight: 800;
    font-size: toIndexMob(43);
    line-height: 1;
    letter-spacing: -0.05em;
    display: flex;
    flex-direction: column;

    & > div {
      // margin-bottom: toIndexMob(-15);
      overflow-y: hidden;
    }
  }
  &__text {
    font-weight: 800;
    font-size: toIndexMob(20);
    line-height: 90%;

    letter-spacing: -0.05em;
  }
  &__line {
    width: toIndexMob(33);
    height: toIndexMob(5);
    background-color: currentColor;
  }
}
@media (max-width: 1199px) {
  .solution {
    padding: 24.63vh 0;
    min-height: 100vh;

    .container {
      padding-top: 0;
      padding-bottom: 0;
      height: auto;
    }
    &__inner {
      position: relative;
    }
    &__text {
      flex-shrink: 0;
      font-size: toIndexMob(26);
      max-width: toIndexMob(180);
    }
    &__title {
      position: absolute;
      right: 0;
      top: -100%;
      transform-origin: bottom right;
      transform: rotateZ(-90deg);
      font-size: toIndexMob(105);
    }
  }
  .slide {
    &__slide {
      padding: 18.5vh 0;
      .container {
        display: flex;
        justify-content: space-between;
      }
      &:nth-child(odd) {
        .container {
          flex-direction: row-reverse;
        }
      }
      // &:nth-child(even) {
      //   .slide__title {
      //     position: absolute;
      //     top: 0;
      //     left: calc(var(--index) * 2);
      //     // width: toIndexMob(400);
      //     transform-origin: top left;
      //     transform: rotateZ(-90deg) translateX(-100%);
      //   }
      //   .slide__col {
      //     margin-left: auto;
      //   }
      // }
      // &:nth-child(odd) {
      //   .slide__title {
      //     position: absolute;
      //     top: 0;
      //     right: calc(var(--index) * 2);
      //     transform-origin: top left;
      //     transform: translateX(100%) rotateZ(-90deg) translateY(-100%)
      //       translateX(-100%);
      //   }
      //   .slide__col {
      //     margin-right: auto;
      //   }
      // }
    }
    &__title {
      writing-mode: vertical-rl;
      text-orientation: mixed;
      transform: rotateZ(180deg);
    }
    // &__title {
    //   width: toIndexMob(400);
    // }
    &__col {
      max-width: toIndexMob(165);
    }
    &__subtitle {
      margin-bottom: toIndexMob(20);
      font-size: toIndexMob(27);
      order: 1;
      .line {
        margin-bottom: toIndexMob(-3);
      }
    }
    &__text {
      font-size: toIndexMob(18);
      margin-bottom: 13vh;
      order: 2;
      max-width: toIndexMob(185);
    }
    &__line {
      order: 3;
    }
  }
}
@media (min-width: 1200px) {
  .solution {
    & > .container {
      width: 100vw;
      width: calc(var(--vw, 1vw) * 100);
      padding-top: toIndex(90);
      padding-bottom: toIndex(90);
    }

    &__line {
      margin-bottom: toIndex(35);
    }
    &__text {
      margin-left: auto;
      text-align: right;
      font-size: toIndex(50);
      max-width: toIndex(540);
      & > .line {
        margin-bottom: toIndex(-5);
        width: fit-content;
        margin-left: auto;
      }
    }
    &__title {
      position: absolute;
      bottom: toIndex(90);
      font-size: toIndex(333);
    }
    &__col {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      min-width: toIndex(800);
    }
  }
  .slide {
    overflow: hidden;
    &__wrap {
      display: flex;
    }
    &__slide {
      & > .container {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        padding-top: toIndex(120);
        padding-left: toIndex(355);
        padding-bottom: toIndex(65);
        padding-right: toIndex(130);
      }
    }
    &__col {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    // &__title {
    //   width: toIndex(1209);
    //   height: toIndex(300);
    // }
    &__line {
      position: absolute;
      top: 0;
      right: 0;
      width: toIndex(99);
      height: toIndex(7);
    }
    &__subtitle {
      font-size: toIndex(73);
      margin-bottom: toIndex(33);
      max-width: toIndex(550);
    }
    &__text {
      font-size: toIndex(22);
      max-width: toIndex(385);
    }
  }
  .navigate {
    .slide__text {
      max-width: toIndex(307);
    }
  }
}
