.solution {
  & > .container {
    position: relative;
    height: 100vh;
    padding-top: 8vh;
  }
  &__line {
    margin-bottom: 3vh;
    height: 1px;
    background: #a9b5be;
  }
  &__text {
    font-weight: 600;
    font-size: toIndexMob(33);
    letter-spacing: -0.05em;
    & > span {
      margin-bottom: toIndexMob(-3);
      padding-left: 0.05em;
      padding-right: 0.05em;

      display: flex;
      justify-content: flex-end;
      overflow-y: hidden;
    }
  }
  &__title {
    font-weight: 800;
    font-size: toIndexMob(83);
    line-height: 90%;
    letter-spacing: -0.05em;
    & > span {
      display: flex;
      overflow-y: hidden;
    }
  }
}
.slide {
  &__title {
    & > svg {
      fill: currentColor;
    }
  }
  &__col {
    display: flex;
    flex-direction: column;
  }
  &__subtitle {
    margin-bottom: toIndexMob(30);
    font-weight: 800;
    font-size: toIndexMob(43);
    letter-spacing: -0.05em;
    display: flex;
    flex-direction: column;

    & > div {
      margin-bottom: toIndexMob(-15);
      overflow-y: hidden;
    }
  }
  &__text {
    font-weight: 800;
    font-size: toIndexMob(20);
    line-height: 90%;

    letter-spacing: -0.05em;
  }
  &__line {
    width: toIndexMob(33);
    height: toIndexMob(5);
    background-color: currentColor;
  }
}
@media (max-width: 1199px) {
  .solution {
    &__text {
      margin-bottom: 28.5vh;
    }
    &__title {
      & > span {
        justify-content: center;
      }
    }
  }
  .slide {
    &__slide {
      padding-top: 10vh;
      padding-bottom: 10vh;
    }

    &__title {
      position: relative;
      height: toIndexMob(88);
      margin-bottom: 13vh;
      & > svg {
        position: absolute;
        transform-origin: 100% 0%;
        right: 50%;
        height: toIndexMob(335);
        line-height: toIndexMob(335);
        transform: rotate(90deg) translateY(-50%) translateX(100%);
        width: auto;
      }
    }
    &__subtitle {
      order: 1;
    }
    &__text {
      margin-bottom: 13vh;
      order: 2;
      max-width: toIndexMob(185);
    }
    &__line {
      order: 3;
    }
  }
}
@media (min-width: 1200px) {
  .solution {
    & > .container {
      width: 100vw;
      width: calc(var(--vw, 1vw) * 100);
      padding-top: toIndex(90);
      padding-bottom: toIndex(90);
    }

    &__line {
      margin-bottom: toIndex(35);
    }
    &__text {
      font-size: toIndex(50);
      & > span {
        margin-bottom: toIndex(-5);
      }
    }
    &__title {
      position: absolute;
      bottom: toIndex(90);
      font-size: toIndex(333);
    }
    &__col {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      min-width: toIndex(800);
    }
  }
  .slide {
    overflow: hidden;
    &__wrap {
      display: flex;
    }
    &__slide {
      & > .container {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        padding-top: toIndex(130);
        padding-left: toIndex(90);
        padding-bottom: toIndex(90);
        padding-right: toIndex(130);
      }
    }
    &__col {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      min-width: toIndex(800);
    }
    &__title {
      align-self: flex-end;
      & > svg {
        width: toIndex(183);
        height: auto;
      }
    }
    &__line {
      position: absolute;
      top: 0;
      right: 0;
      width: toIndex(99);
      height: toIndex(7);
    }
    &__subtitle {
      margin-bottom: toIndex(80);
      & > div {
        margin-bottom: toIndex(-40);
      }
    }
    &__text {
      font-size: toIndex(22);
    }
  }
}
