.stay-updated {
  margin-top: toIndex(-200);
  padding-top: toIndex(630);
  padding-bottom: toIndex(550);
  &__inner-cont {
    position: relative;
  }
  &__logo {
    width: toIndex(514);
    height: toIndex(386);
    position: absolute;
    top: toIndex(-255);
    left: 77.5%;
  }
  &__title {
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: toIndex(199);
    line-height: 82%;
    letter-spacing: -0.033em;
  }
  &__subtitle-cont {
    top: 19.94%;
    right: 0;
    width: 33%;
    position: absolute;
  }
  &__subtitle {
    font-weight: 800;
    font-size: toIndex(18);
    line-height: 96%;
    letter-spacing: -0.033em;
  }
  &__subtitle::after {
    margin-top: toIndex(35);
    content: '';
    display: block;
    width: 100%;
    height: toIndex(4);
    background: #ffffff;
  }
  &__text {
    position: absolute;
    top: 41.87%;
    right: 0;
    width: toIndex(305);
    font-weight: 800;
    font-size: toIndex(33);
    line-height: 94%;

    letter-spacing: -0.033em;
  }

  &__join-link {
    width: 33%;
    position: absolute;
    bottom: 4.9%;
    right: 0;
  }
}

@media (max-width: 1299px) {
  .stay-updated {
    &__title {
      font-size: toIndex(165);
    }
  }
}

@media (max-width: 1199px) {
  .stay-updated {
    &__logo {
      top: toIndex(-240);
      right: toIndex(-120);
      left: auto;
    }
    &__title {
      margin-bottom: toIndex(80);
    }
    &__subtitle-cont {
      position: relative;
      top: 0;
      right: 0;
      width: 100%;
      margin-bottom: toIndex(40);
    }
    &__subtitle {
      font-size: 16px;
    }
    &__text {
      position: relative;
      top: 0;
      right: 0;
      margin-left: auto;
      font-size: toIndex(60);
      width: toIndex(550);
      margin-bottom: toIndex(250);
    }
    &__join-link {
      position: relative;
      top: 0;
      right: 0;
      width: 100%;
      font-size: toIndex(56);
    }
  }
}

@media (max-width: 767px) {
  .stay-updated {
    &__logo {
      top: -26%;
    }
    &__title {
      font-size: 19vw;
      margin-bottom: 50px;
    }
    &__subtitle {
      font-size: 18px;
      padding-bottom: 35px;
      margin-bottom: 20px;
      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        margin-top: 0;
        bottom: 0;
      }
    }
    &__text {
      font-size: 26px;
    }
  }
}
