.stay-updated {
  margin-top: toIndex(-200);
  padding-top: toIndex(630);
  padding-bottom: toIndex(550);
  .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
  }
  .link {
    margin-bottom: 3%;
  }
  &__inner {
    position: relative;
    width: toIndex(600);
    padding-bottom: toIndex(10);
  }
  &__logo {
    width: toIndex(514);
    height: toIndex(386);
    position: absolute;
    top: toIndex(-255);
    left: 77.5%;
  }
  &__title {
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: toIndex(300);
    line-height: 1;
    letter-spacing: -0.033em;
    .split {
      overflow-y: hidden;
      display: flex;
      margin-bottom: -4%;
    }
  }
  &__subtitle {
    font-weight: 800;
    font-size: toIndex(33);
    line-height: 96%;
    letter-spacing: -0.033em;
    margin-bottom: toIndex(240);
    & > div {
      overflow-y: hidden;
    }
  }
  &__join-link {
    width: 33%;
    position: absolute;
    bottom: 4.9%;
    right: 0;
  }
}

@media (max-width: 1299px) {
  .stay-updated {
    &__title {
      font-size: toIndex(280);
    }
    &__inner {
      width: toIndex(450);
    }
  }
}

@media (max-width: 1199px) {
  .stay-updated {
    .container {
      display: block;
    }
    &__title {
      font-size: toIndexMob(72);
    }
    &__logo {
      top: toIndexMob(-180);
      right: toIndexMob(-40);
      left: auto;
      width: toIndexMob(265);
      height: auto;
    }
    &__inner {
      width: 100%;
    }
    &__subtitle {
      // margin-left: auto;
      // max-width: min-content;
      font-size: toIndexMob(26);
      margin-top: 4.43vh;
      margin-bottom: 14.9vh;
    }
  }
}

@media (max-width: 767px) {
  .stay-updated {
    // &__logo {
    //   top: -26%;
    // }
    &__title {
      font-size: toIndexMob(85);
    }
    &__subtitle {
      font-size: toIndexMob(20);
      // margin-top: toIndexMob(100);
      // margin-bottom: toIndexMob(100);
    }
  }
}
