.subscribe-section {
  padding: calc(var(--index) * 6.667) 0;
  .container {
    display: flex;
  }
  &__name {
    width: 26%;
    flex-shrink: 0;
  }
  &__content {
    flex-grow: 1;
  }
  &__title {
    font-weight: 800;
    font-size: calc(var(--index) * 2.2);
    line-height: 100%;
    letter-spacing: -0.033em;
    line-height: 1.2;
    margin-bottom: calc(var(--index) * 4);
    span {
      display: flex;
    }
  }
  &__title-row {
    display: flex;
    overflow: hidden;
    &:not(:last-child) {
      margin-bottom: -1.5%;
    }
  }
}

.subscribe-form {
  display: flex;
  align-items: flex-end;
  &__field {
    margin-right: calc(var(--index) * 1.66);
    flex-grow: 1;
    margin-bottom: 0.25%;
  }
  &__input {
    border: none;
    border-bottom: 1px solid rgb(197.12, 199.76, 203.28);
    padding-bottom: calc(var(--index) * 1);
    background-color: transparent;
    width: 100%;
    font-family: 'RF Dewi';
    font-style: normal;
    font-weight: 800;
    font-size: calc(var(--index) * 1.1);
    line-height: 94%;
    letter-spacing: -0.033em;
    color: currentColor;
    border-radius: 0;
    &::placeholder {
      color: currentColor;
    }
    &:focus {
      outline: none;
    }
    &.error {
      border-color: red;
      &::placeholder {
        color: red;
      }
    }
  }
  &__btn {
    background-color: transparent;
    border: none;
    color: var(--accentColor, #4f06c6);
  }
  &__success {
    display: none;
  }
}

@media (max-width: 1199px) {
  .subscribe-section {
    &__name {
      display: none;
    }
    &__title {
      font-size: toIndex(90);
    }
  }
  .subscribe-form {
    display: block;
    &__field {
      margin-bottom: toIndex(100);
      margin-right: 0;
    }
    &__input {
      font-size: 33px;
    }
    &__btn {
      width: 100%;
      font-size: 19vw;
    }
  }
}

@media (max-width: 767px) {
  .subscribe-section {
    &__title {
      margin-bottom: 140px;
    }
  }
  .subscribe-form {
    &__field {
      margin-bottom: 50px;
    }
    &__input {
      font-size: 20px;
    }
    &__btn {
      font-size: 30vw;
    }
  }
}
