.team {
  padding-top: calc(var(--index) * 6.13);
  padding-bottom: calc(var(--index) * 10.66);
  display: flex;
  justify-content: space-between;

  &__members {
    width: calc(var(--index) * 31.23);
    cursor: pointer;
  }
  &__remark {
    margin-bottom: calc(var(--index) * 1.76);
  }
  &__members-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: calc(var(--index) * 0.66);
  }
  &__member-card {
    padding-bottom: 115.05%;
    position: relative;
    background: #d5d9de;
    border-radius: calc(var(--index) * 0.33);
    overflow: hidden;
    transition: ease-in-out 250ms;

    cursor: pointer;
  }
  &__member-foto-mob {
    display: none;
  }
  &__member-foto {
    position: absolute;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__social-list {
    display: flex;
    position: absolute;
    top: calc(var(--index) * 1);
    left: calc(var(--index) * 0.83);
    z-index: 2;
  }
  &__social-item {
    & > a {
      color: inherit;
    }
  }

  &__social-icon {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    fill: #c4c7cc;
  }
  // &__member-text {
  //   position: absolute;
  //   left: calc(var(--index) * 0.83);
  //   bottom: calc(var(--index) * 0.66);
  //   z-index: 2;
  // }
  &__member-name {
    margin-bottom: calc(var(--index) * 0.26);
    font-weight: 900;
    font-size: calc(var(--index) * 0.6);
    line-height: 86%;

    letter-spacing: -0.033em;
  }

  &__member-lastname {
    // margin-bottom: calc(var(--index) * 0.5);
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: calc(var(--index) * 2.43);
    line-height: 96%;

    letter-spacing: -0.033em;
  }

  &__member-position {
    font-weight: 700;
    font-size: calc(var(--index) * 0.53);
    line-height: 86%;

    letter-spacing: -0.033em;
  }
  &__member-bio,
  &__member-mail {
    display: none;
  }
  &__current-member {
    width: calc(var(--index) * 21.3);
  }
  &__current-position {
    margin-top: -0.23%;
    margin-bottom: calc(var(--index) * 1);
    font-weight: 900;
    font-size: calc(var(--index) * 1);
    line-height: 1;
    letter-spacing: -0.033em;

    color: #000000;
  }

  &__current-name {
    margin-top: -0.29%;
    margin-bottom: toIndex(10);
    font-family: 'Bebas Neue';

    font-weight: 700;
    font-size: toIndex(115);
    line-height: 1;

    letter-spacing: -0.033em;

    color: #000000;
    white-space: nowrap;
  }

  &__current-mail {
    margin-top: -0.22%;
    margin-bottom: calc(var(--index) * 6.23);
    font-weight: 600;
    font-size: calc(var(--index) * 0.86);
    line-height: 1;
    letter-spacing: -0.033em;

    color: #000000;
  }
  &__current-social {
    margin-bottom: toIndex(150);
    display: flex;
    column-gap: toIndex(30);
    font-weight: 800;
    font-size: toIndex(18);

    letter-spacing: -0.033em;
    text-transform: uppercase;
  }
  &__current-bio {
    font-weight: 800;
    font-size: calc(var(--index) * 1.1);
    line-height: 106%;

    letter-spacing: -0.033em;
  }
}

@media (max-width: 1199px) {
  .team {
    &__current-member {
      display: none !important;
    }
    &__members {
      width: 100%;
    }
    &__members-list {
      display: flex;
      gap: 20px;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      padding-left: calc(var(--index) * 2);
      padding-right: calc(var(--index) * 2);
      margin-left: calc(var(--index) * -2);
      margin-right: calc(var(--index) * -2);
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &__member-card {
      flex-shrink: 0;
      width: 440px;
      background-color: #fff;
      padding: 40px 60px 65px 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 15px;
      &.active {
        filter: brightness(100%);
      }
    }
    &__member-foto-mob {
      display: block;
      position: relative;
      width: 107px;
      height: 107px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 20px;
    }
    &__member-foto {
      display: none;
    }
    &__member-name {
      font-size: 26px;
      margin-bottom: 10px;
    }
    &__member-lastname {
      font-size: 100px;
      margin-bottom: 2vh;
    }
    &__member-position {
      position: absolute;
      top: 20px;
      right: 40px;
      text-align: right;
      font-size: 23px;
      line-height: 86%;
      color: #a7adb3;
      max-width: 200px;
      text-align: right;
      & > span {
        display: block;
      }
    }
    &__member-text {
      position: static;
      left: 0;
      bottom: 0;
    }
    &__member-bio {
      display: block;
      font-weight: 700;
      font-size: 26px;
      line-height: 96%;
      letter-spacing: -0.033em;
      color: #000000;
      margin-bottom: 50px;
    }
    &__member-mail {
      display: none;
      font-size: 24px;
      line-height: 86%;
      letter-spacing: -0.033em;
      color: #000000;
      margin-bottom: 50px;
    }
    &__social-list {
      position: relative;
      top: 0;
      left: 0;
      margin-top: auto;
    }
    &__social-item {
      width: calc(var(--index) * 0.83);
      height: calc(var(--index) * 0.83);
    }
    &__social-item:not(:last-child) {
      margin-right: calc(var(--index) * 0.5);
    }
    &__social-item {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:not(:last-child) {
        padding-right: 0;
        margin-right: 20px;
      }
      a {
        display: flex;
        svg {
          width: auto;
          height: auto;
        }
      }
    }
    &__social-text {
      display: none;
    }
  }
}
@media (min-width: 1200px) {
  .team {
    &__member-card {
      position: relative;
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
        background-color: #c5fd64;
        opacity: 0;
        transition: 250ms;
      }
    }
    &__member-card.active {
      &::before {
        opacity: 0.8;
      }
    }
    &__member-position {
      position: absolute;
      top: toIndex(25);
      left: toIndex(25);
      z-index: 2;
    }
    &__member-fullname {
      position: absolute;
      bottom: toIndex(25);
      left: toIndex(25);
      z-index: 2;
    }
    &__social-icon {
      display: none;
    }
    &__social-list {
      display: none;
    }
  }
}
@media (min-width: 768px) {
  .team {
    &__title {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .team {
    &__remark {
      display: none;
    }
    &__title {
      font-family: 'Bebas Neue';
      font-style: normal;
      font-weight: 700;
      font-size: 24vw;
      line-height: 82%;
      letter-spacing: -0.033em;
      color: #000000;
      margin-bottom: 40px;
    }
    &__member-card {
      width: 300px;
      padding: 30px 40px 50px 30px;
    }
    &__member-position {
      top: 20px;
      right: 20px;
      font-size: 16px;
    }
    &__member-foto {
      width: 100px;
      height: 100px;
      margin-bottom: 15px;
    }
    &__member-name {
      font-size: 18px;
      margin-bottom: 10px;
    }
    &__member-lastname {
      font-size: 70px;
    }
    &__member-mail {
      font-size: 17px;
      margin-bottom: 35px;
    }
    &__member-bio {
      font-size: 18px;
      margin-bottom: 35px;
    }
    &__social-item {
      width: 26px;
      height: 26px;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}
