.watches {
  padding-top: toIndex(200);
  padding-bottom: toIndex(200);
  .container {
    position: relative;
  }
  &__remark {
    margin-bottom: toIndex(80);
    text-align: center;
  }
  &__inner {
    margin: 0 auto;
    max-width: toIndex(1052);
    width: 100%;
    position: relative;
  }
  &__main {
    position: relative;
    z-index: 1;
    img {
      display: block;
      width: 100%;
    }
  }
  &__circle {
    position: absolute;
    top: toIndex(-120);
    right: 0;
    z-index: -1;
    width: toIndex(233);
    height: toIndex(233);
    animation: rotate 55s linear infinite;
  }
  &__watches1 {
    width: toIndex(929);
    height: toIndex(1033);
    position: absolute;
    top: 2.92%;
    left: 0;
    z-index: 1;
  }
  &__watches2 {
    width: toIndex(1033);
    height: toIndex(1134);
    position: absolute;
    top: 35.39%;
    right: 0;
    z-index: 2;
  }
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1199px) {
  .watches {
    &__watches1 {
      left: -14%;
    }
    &__watches2 {
      right: -6%;
    }
  }
}
