.watches-fact {
  padding-top: toIndex(200);
  padding-bottom: toIndex(200);
  position: relative;
  &__side-top-remark {
    position: absolute;
    top: 0;
    right: toIndex(250);
    font-weight: 700;
    font-size: toIndex(16);
    line-height: 86%;
    letter-spacing: -0.033em;
    color: #333333;
    transform: rotate(-90deg);
  }
  &__row {
    display: flex;
  }
  &__title {
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: toIndex(200);
    line-height: 82%;
    letter-spacing: -0.033em;
    span {
      color: $green;
      display: block;
    }
  }
  &__subtitle {
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: toIndex(200);
    line-height: 82%;
    letter-spacing: -0.033em;
    text-align: right;
    margin-top: toIndex(-160);
    margin-bottom: toIndex(40);
    span {
      display: block;
    }
  }
  &__subtext {
    font-family: 'RF Dewi';
    font-weight: 800;
    font-size: toIndex(24);
    line-height: 96%;
    letter-spacing: -0.033em;
    text-align: right;
  }
  &__video-wrap {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    flex-shrink: 0;
    width: toIndex(567);
    height: toIndex(567);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #4f06c6;
    margin-top: toIndex(-150);
    transition: 250ms ease-in-out;
    cursor: pointer;
    &:hover{
      &>img{
        opacity:1;
      }
      &>span{
        opacity:0;
      }
    }
    &>img{
    transition: 250ms ease-in-out;
      opacity:0;
      display: block;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
      width:180%;
      height:auto;
    }
    &>span{
    transition: 250ms ease-in-out;
    }
    
  }
  

  // .watches-fact__text

  &__text {
    margin-top: toIndex(-105);
    width: toIndex(569);
    font-weight: 800;
    font-size: toIndex(61);
    line-height: 94%;
    letter-spacing: -0.033em;
  }

  // .watches-fact__side-bottom-remark

  &__side-bottom-remark {
    position: absolute;
    bottom: toIndex(240);
    right: toIndex(250);
    font-weight: 700;
    font-size: toIndex(16);
    line-height: 86%;
    /* identical to box height, or 14px */

    letter-spacing: -0.033em;

    /* Белый */
    opacity: 0.2;

    transform: rotate(-90deg);
  }
}

#watches-fact__video{
  width:100%;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  &.fullscreen{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  opacity: 1;
  z-index: 3;
  pointer-events: all;
  }
}
// @media (max-width: 1299px) {
//   .watches-fact {
//     &__title {
//       font-size: toIndex(180);
//     }
//     &__subtitle {
//       font-size: toIndex(180);
//       margin-top: toIndex(-140);
//     }
//   }
// }

@media (max-width: 1199px) {
  .watches-fact {
    &__title {
      max-width: 70%;
      font-size: toIndex(220);
    }
    &__subtitle {
      font-size: toIndex(220);
      margin-top: toIndex(-180);
    }
    &__subtext {
      max-width: 220px;
      margin-left: auto;
      font-size: toIndex(30);
    }
    &__video-wrap {
      margin-top: toIndex(100);
      width: 70%;
      height: 0;
      padding-bottom: 70%;
      margin-bottom: toIndex(80);
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &__text {
      margin-top: 0;
    }
  }
}

@media (max-width: 767px) {
  .watches-fact {
    padding-bottom: toIndex(300);
    &__title {
      font-size: 20vw;
    }
    &__subtitle {
      font-size: 20vw;
      margin-top: 0;
    }
    &__subtext {
      font-size: 24px;
    }
    &__video-wrap {
      margin: 80px 0;
      width: 140%;
      padding-bottom: 140%;
      left: -20%;
    }
    &__side-bottom-remark {
      display: none;
    }
    &__text {
      font-size: 10vw;
      width: 100%;
    }
  }
}
@media (min-width:1200px) {
  .watches-fact {

    &__video-wrap{
      transform-style: preserve-3d;
      transform: perspective(1000px);
      transition:250ms;
      &:hover{
      // box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      box-shadow: rgba(255, 255, 255, 0.1) 0px 22px 70px 4px;
      & > span {
        scale: 1.2;
        text-shadow: 0px 11px 10px rgba(0, 0, 0, 0.8);
      }
      }
      & >span{
        transition: 250ms;
        transform: translateZ(30px);

      }
      
    }
  }
}