.watches-fact {
  padding-top: toIndex(200);
  padding-bottom: toIndex(200);
  position: relative;
  &__side-top-remark {
    position: absolute;
    top: 0;
    right: toIndex(250);
    font-weight: 700;
    font-size: toIndex(16);
    line-height: 86%;
    letter-spacing: -0.033em;
    color: #333333;
    transform: rotate(-90deg);
  }
  &__row {
    display: flex;
  }
  &__title {
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: toIndex(140);
    line-height: 1;
    letter-spacing: -0.033em;
    color: #ffffff;
    h2 {
      overflow: hidden;
      &:first-child {
        color: $green;
      }
      &:not(:last-child) {
        margin-bottom: -2%;
      }
    }
  }
  &__subtitle {
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: toIndex(140);
    line-height: 1;
    letter-spacing: -0.033em;
    color: #ffffff;
    text-align: right;
    margin-top: toIndex(-200);
    h2 {
      overflow: hidden;
      &:not(:last-child) {
        margin-bottom: -2%;
      }
    }
  }
  &__subtext {
    font-family: 'RF Dewi';
    font-weight: 800;
    font-size: toIndex(24);
    line-height: 96%;
    letter-spacing: -0.033em;
    color: #ffffff;
    text-align: right;
  }
  &__video-wrap {
    position: relative;
    margin: 0 auto;
    flex-shrink: 0;
    width: toIndex(567);
    height: toIndex(567);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #4f06c6;
    margin-top: toIndex(-150);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: toIndex(16);
    line-height: 86%;
    letter-spacing: -0.033em;
  }

  // .watches-fact__text

  &__text {
    margin-top: toIndex(-105);
    width: toIndex(569);
    font-weight: 800;
    font-size: toIndex(61);
    line-height: 94%;
    letter-spacing: -0.033em;
    color: #ffffff;
  }

  // .watches-fact__side-bottom-remark

  &__side-bottom-remark {
    position: absolute;
    bottom: toIndex(240);
    right: toIndex(250);
    font-weight: 700;
    font-size: toIndex(16);
    line-height: 86%;
    /* identical to box height, or 14px */

    letter-spacing: -0.033em;

    /* Белый */
    opacity: 0.2;
    color: #ffffff;

    transform: rotate(-90deg);
  }
}
