.wim {
  position: relative;
  padding-top: calc(var(--index) * 7.8);
  padding-bottom: calc(var(--index) * 5.63);
  background-color: #fff;
  &__title-cont {
    margin-bottom: calc(var(--index) * 1.26);
    display: flex;
    justify-content: space-between;
  }
  &__title {
    margin-bottom: -2%;
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: calc(var(--index) * 6.63);
    line-height: 1;

    letter-spacing: -0.033em;
    color: #000000;
  }
  &__remark {
    margin-bottom: -0.12%;
    font-weight: 700;
    font-size: calc(var(--index) * 0.53);
    line-height: 1;
    letter-spacing: -0.033em;
    align-self: flex-end;
  }
  &__remark--side-position {
    position: absolute;
    transform: rotate(-90deg);
    right: calc(var(--index) * 2);
    bottom: calc(var(--index) * 13.13);
  }
  &__cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: calc(var(--index) * 0.66);
  }
  &__card {
    display: block;
    padding-top: calc(var(--index) * 5);
    padding-right: calc(var(--index) * 1);
    padding-bottom: calc(var(--index) * 1);
    padding-left: calc(var(--index) * 1);
    background: hsla(214, 17%, 94%, 1);
    border-radius: calc(var(--index) * 0.56);

    font-weight: 600;
    font-size: calc(var(--index) * 0.66);
    line-height: 120%;
    letter-spacing: -0.033em;
    color: #000;
    transition: ease-in-out 250ms;
    &:hover,
    &:focus {
      filter: brightness(85%);
    }
    &--doubleSize {
      grid-column-end: span 2;
    }
    &--bgColorAccent {
      background: #c5fd64;
    }
  }
  &__logo-wrap {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: calc(var(--index) * 2.8);
    height: calc(var(--index) * 7);
    width: calc(var(--index) * 7);
  }
  &__logo {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
  &__more-text {
    display: flex;
    justify-content: space-between;
  }
  &__icon-arrow {
    display: inline-block;
    margin-left: auto;
    width: calc(var(--index) * 0.8);
    height: calc(var(--index) * 0.8);
  }
  &__line {
    margin-top: calc(var(--index) * 0.23);
    height: calc(var(--index) * 0.067);
    background: #000000;
  }
}
