<footer class="footer">
    <div class="container">
        <div class="footer__social-list-cont">
            <h3 class="footer__social-list-title">Follow us:</h3>
            <ul class="social-list footer__social-list">
        <li class="social-list__item">
          <a class="social-list__link footer__social-link" href="https://twitter.com/brandversenft" target="_blank"
            data-link-hover="Twitter"><span>Twitter</span></a>

        </li>
        <li class="social-list__item">
          <a class="social-list__link footer__social-link" href="https://discord.com/invite/brandverse" target="_blank"
            data-link-hover="discord"><span>discord</span></a>

        </li>
        <li class="social-list__item">
          <a class="social-list__link footer__social-link" href="https://www.linkedin.com/company/brandversenft/" target="_blank"
            data-link-hover="linkedin"><span>linkedin</span></a>

        </li>
        <li class="social-list__item">
          <a class="social-list__link footer__social-link" href="https://medium.com/@brandverse" target="_blank"
            data-link-hover="medium"><span>medium</span></a>

        </li>
      </ul>
        </div>
        <div class="footer__inner">
            <div class="footer__copyright">
            © 2022 Brandverse UG. All rights reserved.
        </div>
        <div class="footer__group">
            <ul class="footer__nav">
                <li>
                    <a data-link-hover="Litepaper" href="./litepaper.html">
                        <span>Litepaper</span>
                    </a>
                </li>
                <li>
                    <a data-link-hover="Clients" href="./clients.html">
                        <span>Clients</span>
                    </a>
                </li>
            </ul>
            <a href="https://svitlo-production.com" target="_blank" class="dev">
                <span>
                    By Svitlo.Production
                </span>
                <svg width="48" height="66" viewBox="0 0 48 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_465_1168)">
                        <path
                            d="M2.84151 0C3.1315 10.2785 9.51187 16.3291 17.5166 21.1227C21.8345 23.7085 26.4701 25.7668 30.8774 28.2105C37.2109 31.7206 42.7322 36.1187 45.9253 42.8277C49.4946 50.3265 47.4655 60.7897 41.2643 66C41.4781 64.4418 41.6704 63.1083 41.8434 61.7726C42.6871 55.2548 40.439 49.9103 35.1179 46.1274C31.3886 43.4768 27.2406 41.4116 23.3489 38.9757C18.8347 36.1513 14.1119 33.5533 9.99373 30.2306C4.22053 25.5721 0.520222 19.4794 0.0440491 11.8562C-0.216597 7.66443 0.674857 3.70295 2.84151 0Z"
                            fill="white" />
                        <path d="M12.7192 65.9089H0.0820312V51.29L12.7192 65.9089Z" fill="white" />
                        <path d="M29.666 0H42.3041V14.6193L29.666 0Z" fill="white" />
                    </g>
                    <defs>
                        <clipPath id="clip0_465_1168">
                            <rect width="47.6816" height="66" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
            </a>
        </div>
        </div>
    </div>
</footer>

</div>
