<!-- <div class="spinner-wrapper">
    <div class="spinner"></div>
</div> -->

<div class="scroller" id="scroller">

    <header class="header">
        <div class="container d-flex justify-between align-start">
            <a href="" class="header__logo">
                <img src="img/logo.svg" alt="">
            </a>

            <ul class="socials">
                <li>
                    <a href="" target="_blank" data-link-hover="Twitter">
                        <span>Twitter</span>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank" data-link-hover="discord">
                        <span>discord</span>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank" data-link-hover="linkedin">
                        <span>linkedin</span>
                    </a>
                </li>
            </ul>

            <div class="header__menu-btn">
                menu
            </div>
        </div>
    </header>