<section class="cnt-section" data-bgcolor="#4F06C6" data-textcolor="#fff">
  <div class="container">
    <div class="cnt-section__row">
      <div class="cnt-section__col">
        <h2 class="cnt-section__title">
          <span class="split">Interested </span>
          <span class="split">in knowing</span>
          <span class="split">more?</span>
        </h2>
      </div>
      <div class="cnt-section__col">
        <h5 class="cnt-section__name">(Let’s discuss)</h5>
        <form class="form">
          <div class="form__field">
            <input
              name="email"
              placeholder="E-mail"
              type="email"
              class="form__field-input"
            />
          </div>
          <div class="form__field">
            <textarea
              placeholder="Comment"
              name="comment"
              class="form__field-textarea"
            ></textarea>
          </div>
          <button class="form__button link">Let’s discuss</button>
        </form>
      </div>
    </div>
    <a
      href="img/BRANDVERSE LITEPAPER 1.0.pdf"
      download
      class="button cnt-section__link large-link"
      >Download Full version</a
    >
  </div>
</section>
