<section class="roadmap">
  <div class="container">
    <div class="roadmap__row">
      <h5 class="roadmap__subtitle">(Our)</h5>
      <h2 class="roadmap__title">Roadmap</h2>
    </div>
    <div class="roadmap__list-wrap">
      <ul class="roadmap__list">
        <li class="roadmap__item">
          <div class="roadmap__item-inner">
            <div class="roadmap__item-title">
              <p>Growing our</p>
              <p>Brand</p>
              <p>Ecosystem</p>
            </div>
          </div>
        </li>
        <li class="roadmap__item">
          <div class="roadmap__item-inner">
            <div class="roadmap__item-title">
              <p>Integration</p>
              <p>with</p>
              <p>Partners</p>
            </div>
          </div>
        </li>
        <li class="roadmap__item">
          <div class="roadmap__item-inner">
            <div class="roadmap__item-title">
              <p>The Brandverse</p>
              <p>Platform:</p>
            </div>
            <p class="roadmap__item-text">
              Unlock Interactive Wearable Experiences and Rewards
            </p>
          </div>
        </li>
        <li class="roadmap__item">
          <div class="roadmap__item-inner">
            <div class="roadmap__item-title">
              <p>Onboard</p>
              <p>established brands</p>
              <p>into web3</p>
            </div>
          </div>
        </li>
        <li class="roadmap__item">
          <div class="roadmap__item-inner">
            <div class="roadmap__item-title">
              <p>AR/VR and Metaverse</p>
              <p>Experiences</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
