<section class="section-values" data-bgcolor="#000" data-textcolor="#fff">
  <div class="container">
    <h2 class="section-values__title split">Values</h2>
    <div class="section-values__cards">
      <div class="section-values__cards-item" data-scroll data-scroll-speed="8">
        <div class="value-card">
          <div class="value-card__line">
            <svg
              class="value-card__line"
              width="161"
              height="21"
              viewBox="0 0 161 21"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="161" height="21.0003" fill="black" />
              <mask
                id="mask0_1000_752"
                style="mask-type: alpha"
                maskUnits="userSpaceOnUse"
                x="0"
                y="0"
                width="161"
                height="22"
              >
                <rect width="161" height="21.0003" fill="white" />
              </mask>
              <g mask="url(#mask0_1000_752)">
                <rect
                  x="9.66602"
                  width="0.386555"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="11.5938"
                  width="3.28571"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="15.4629"
                  width="0.386555"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="18.3613"
                  width="0.386555"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="19.1328"
                  width="0.386555"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="19.9062"
                  width="1.35294"
                  height="21.0003"
                  class="green"
                />
                <rect x="23" width="0.386555" height="21.0003" class="green" />
                <rect
                  x="34.4023"
                  width="0.386555"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="48.3203"
                  width="6.37815"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="56.0508"
                  width="2.31933"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="61.8477"
                  width="1.15966"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="63.7832"
                  width="1.15966"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="77.3105"
                  width="1.15966"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="81.5625"
                  width="5.21849"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="153.846"
                  width="5.21849"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="35.3691"
                  width="1.15966"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="39.2344"
                  width="3.28571"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="78.8555"
                  width="1.35294"
                  height="21.0003"
                  class="green"
                />
              </g>
            </svg>
          </div>
          <div class="value-card__title">Collaboration</div>
          <div class="value-card__text">
            We are passionate about Web3 and branding. We believe that the
            future metaverse brands should revolve around their community from
            creation to realisation.
          </div>
        </div>
      </div>
      <div class="section-values__cards-item" data-scroll data-scroll-speed="6">
        <div class="value-card">
          <div class="value-card__line">
            <svg
              class="value-card__line"
              width="161"
              height="21"
              viewBox="0 0 161 21"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="161" height="21.0003" fill="black" />
              <mask
                id="mask0_1000_752"
                style="mask-type: alpha"
                maskUnits="userSpaceOnUse"
                x="0"
                y="0"
                width="161"
                height="22"
              >
                <rect width="161" height="21.0003" fill="white" />
              </mask>
              <g mask="url(#mask0_1000_752)">
                <rect
                  x="9.66602"
                  width="0.386555"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="11.5938"
                  width="3.28571"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="15.4629"
                  width="0.386555"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="18.3613"
                  width="0.386555"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="19.1328"
                  width="0.386555"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="19.9062"
                  width="1.35294"
                  height="21.0003"
                  class="green"
                />
                <rect x="23" width="0.386555" height="21.0003" class="green" />
                <rect
                  x="34.4023"
                  width="0.386555"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="48.3203"
                  width="6.37815"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="56.0508"
                  width="2.31933"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="61.8477"
                  width="1.15966"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="63.7832"
                  width="1.15966"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="77.3105"
                  width="1.15966"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="81.5625"
                  width="5.21849"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="153.846"
                  width="5.21849"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="35.3691"
                  width="1.15966"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="39.2344"
                  width="3.28571"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="78.8555"
                  width="1.35294"
                  height="21.0003"
                  class="green"
                />
              </g>
            </svg>
          </div>
          <div class="value-card__title">Devotion</div>
          <div class="value-card__text">
            We believe in hard work and dedication as core values to achieve our
            long term mission.
          </div>
        </div>
      </div>
      <div class="section-values__cards-item" data-scroll data-scroll-speed="4">
        <div class="value-card">
          <div class="value-card__line">
            <svg
              class="value-card__line"
              width="161"
              height="21"
              viewBox="0 0 161 21"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="161" height="21.0003" fill="black" />
              <mask
                id="mask0_1000_752"
                style="mask-type: alpha"
                maskUnits="userSpaceOnUse"
                x="0"
                y="0"
                width="161"
                height="22"
              >
                <rect width="161" height="21.0003" fill="white" />
              </mask>
              <g mask="url(#mask0_1000_752)">
                <rect
                  x="9.66602"
                  width="0.386555"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="11.5938"
                  width="3.28571"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="15.4629"
                  width="0.386555"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="18.3613"
                  width="0.386555"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="19.1328"
                  width="0.386555"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="19.9062"
                  width="1.35294"
                  height="21.0003"
                  class="green"
                />
                <rect x="23" width="0.386555" height="21.0003" class="green" />
                <rect
                  x="34.4023"
                  width="0.386555"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="48.3203"
                  width="6.37815"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="56.0508"
                  width="2.31933"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="61.8477"
                  width="1.15966"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="63.7832"
                  width="1.15966"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="77.3105"
                  width="1.15966"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="81.5625"
                  width="5.21849"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="153.846"
                  width="5.21849"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="35.3691"
                  width="1.15966"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="39.2344"
                  width="3.28571"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="78.8555"
                  width="1.35294"
                  height="21.0003"
                  class="green"
                />
              </g>
            </svg>
          </div>
          <div class="value-card__title">Digital First</div>
          <div class="value-card__text">
            We will always pioneer innovation in the digital world to reduce the
            environmental impact of our physical consumption.
          </div>
        </div>
      </div>
      <div class="section-values__cards-item" data-scroll data-scroll-speed="6">
        <div class="value-card">
          <div class="value-card__line">
            <svg
              class="value-card__line"
              width="161"
              height="21"
              viewBox="0 0 161 21"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="161" height="21.0003" fill="black" />
              <mask
                id="mask0_1000_752"
                style="mask-type: alpha"
                maskUnits="userSpaceOnUse"
                x="0"
                y="0"
                width="161"
                height="22"
              >
                <rect width="161" height="21.0003" fill="white" />
              </mask>
              <g mask="url(#mask0_1000_752)">
                <rect
                  x="9.66602"
                  width="0.386555"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="11.5938"
                  width="3.28571"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="15.4629"
                  width="0.386555"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="18.3613"
                  width="0.386555"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="19.1328"
                  width="0.386555"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="19.9062"
                  width="1.35294"
                  height="21.0003"
                  class="green"
                />
                <rect x="23" width="0.386555" height="21.0003" class="green" />
                <rect
                  x="34.4023"
                  width="0.386555"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="48.3203"
                  width="6.37815"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="56.0508"
                  width="2.31933"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="61.8477"
                  width="1.15966"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="63.7832"
                  width="1.15966"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="77.3105"
                  width="1.15966"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="81.5625"
                  width="5.21849"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="153.846"
                  width="5.21849"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="35.3691"
                  width="1.15966"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="39.2344"
                  width="3.28571"
                  height="21.0003"
                  class="green"
                />
                <rect
                  x="78.8555"
                  width="1.35294"
                  height="21.0003"
                  class="green"
                />
              </g>
            </svg>
          </div>
          <div class="value-card__title">Rewarding Ownership</div>
          <div class="value-card__text">
            We reimagine the relationship between brands and their fans through
            rewarding participation and aligning incentives.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
