<section class="section-hwdt" data-bgcolor="#fff" data-textcolor="#000">
    <div class="container">
        <div class="section-hwdt__title" id="title">
            <div class="section-hwdt__title-row">
                <span class="purpure">H<span class="zero">o</span></span>w</span> do we
            </div>
            <div class="section-hwdt__title-row">
                <span class="purpure">d<span class="zero">o</span></span></span>
                that?
                <div class="section-hwdt__slider" id="slider">
                    <span class="purpure">o</span>
                    <span>o</span>
                    <span class="purpure">o</span>
                    <span>o</span>
                    <span class="purpure">o</span>
                </div>
            </div>
        </div>
        <div class="section-hwdt__body">
            <div class="section-hwdt__inner">
                <h5 class="section-hwdt__name">(How do we do that?)</h5>
                <ul class="section-hwdt__text">
                    <li>
                        <p>We've built </p>
                    </li>
                    <li>
                        <p>our own custom</p>
                    </li>
                    <li>
                        <p>automated 3D</p>
                    </li>
                    <li>
                        <p>workflow.</p>
                    </li>
                </ul>
                <ul class="section-hwdt__text">
                    <li>
                        <p>This gives us full </p>
                    </li>
                    <li>
                        <p>control in our </p>
                    </li>
                    <li>
                        <p>design process </p>
                    </li>
                    <li>
                        <p>and compatibility</p>
                    </li>
                    <li>
                        <p>with various</p>
                    </li>
                    <li>
                        <p>metaverse </p>
                    </li>
                    <li>
                        <p>applications.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>