<section class="promo-second" data-bgcolor="#E0E3E7" data-textcolor="#000">
  <div class="container">
    <div class="promo-second__top-title-cont">
      <h5 class="promo-second__subtitle">(web 3.0)</h5>
      <h1 class="promo-second__title promo-second__top-title desktop">
        <div class="line">Brands help people</div>
        <div class="line">express</div>
        <div class="line">
          themselves<span class="promo-second__title--color-accent">,</span>
        </div>
      </h1>
      <h1 class="promo-second__title promo-second__top-title mobile">
        <div class="line">Brands</div>
        <div class="line">help people</div>
        <div class="line">express</div>
        <div class="line">
          themselves<span class="promo-second__title--color-accent">,</span>
        </div>
      </h1>
    </div>
    <div class="promo-second__bottom-title-cont">
      <h5 class="promo-second__subtitle">(Brandverse)</h5>
      <h1
        class="promo-second__title promo-second__bottom-title promo-second__title--color-accent desktop"
      >
        <div class="line">we are</div>
        <div class="line">here to</div>
        <div class="line">help brands</div>
      </h1>
      <h1
        class="promo-second__title promo-second__bottom-title promo-second__title--color-accent mobile"
      >
        <div class="line">and we are</div>
        <div class="line">here to help</div>
        <div class="line">brands</div>
      </h1>
    </div>
    <p class="promo-second__text">command the next wave of the Web</p>
  </div>
</section>
