<section class="hwd" data-bgcolor="#000" data-textcolor="#fff">
  <div class="container">
    <div class="hwd__line"></div>
    <div class="hwd__marquee marquee">
      <div>How we do it
        <img src="./img/bar-code-hwd.svg" alt="" />
        How we do it
        <img src="./img/bar-code-hwd.svg" alt="" />
      </div>
    </div>
    <div class="hwd__inner">
      <h5 class="hwd__remark">(How we do it)</h5>
      <div class="hwd__title">
        <div class="hwd__title-top">
          <h2><span>We use our 3D</span></h2>
          <h2><span>capabilities</span></h2>
          <h2><span>our expertise</span></h2>
          <h2 class="hwd__ampersand"><span>&</span></h2>
        </div>
        <div class="hwd__title-bottom">
          <h2><span>with NFTs to</span></h2>
          <h2><span>deliver unique</span></h2>
          <h2><span>benefits for our</span></h2>
          <h2><span>partners</span></h2>
        </div>
        <p class="hwd__side-text">and community.</p>
      </div>

      <div class="hwd__block">
        <div class="hwd__box"></div>
        <div class="hwd__subtitle">
          <div>
            <p>Our NFTs are</p>
          </div>
          <div>
            <p>interoperable</p>
          </div>
          <div>
            <p>assets that can</p>
          </div>
          <div>
            <p>adapt</p>
          </div>
        </div>
        <div class="hwd__block-line"></div>
        <p class="hwd__text">
          to any gaming engine, whether you want to wear it on a 3D avatar, use it
          in-game or integrate it into VR and AR experiences.
        </p>
      </div>
    </div>
  </div>
</section>