<section class="promo-third" data-bgcolor="#E0E3E7" data-textcolor="#000">
  <div class="container">
    <div class="promo-third__subtitle">
      <p>Take your Brand into the</p>
    </div>
    <h1 class="promo-third__title split">Metaverse</h1>
    <div class="promo-third__marquee" data-ticker-before-768 data-speed="2" data-direction="left" data-gap="20">
      <div><div>Metaverse</div><div>Metaverse</div><div>Metaverse</div></div>
    </div>
    <div class="promo-third__line"></div>
  </div>
</section>