<section
  class="contacts-section"
  data-bgcolor="#000"
  data-textcolor="#fff"
  data-accentcolor="#c5fd64"
>
  <div class="container">
    <div class="contacts-section__row">
      <div class="contacts-section__col">
        <h2 class="contacts-section__title">
          <span class="split">Have</span>
          <span class="split">Any</span>
          <span class="split">Questions?</span>
        </h2>
        <!-- <div class="contacts-section__socials">
					<div class="contacts-section__socials-title">Follow us:</div>
					<ul class="socials">
						<li>
							<a href="https://twitter.com/brandversenft" target="_blank" data-link-hover="Twitter">
								<span>Twitter</span>
							</a>
						</li>
						<li>
							<a href="https://discord.com/invite/brandverse" target="_blank" data-link-hover="discord">
								<span>discord</span>
							</a>
						</li>
						<li>
							<a href="https://www.linkedin.com/company/brandversenft/" target="_blank"
								data-link-hover="linkedin">
								<span>linkedin</span>
							</a>
						</li>
						<li>
							<a href="https://medium.com/@brandverse" target="_blank" data-link-hover="medium">
								<span>medium</span>
							</a>
						</li>
					</ul>
				</div> -->
      </div>
      <div class="contacts-section__col">
        <div class="contacts-section__header">
          <h3 class="contacts-section__subtitle">
            <div><span>Don’t hesitate</span></div>
            <div><span>to contact us,</span></div>
            <div><span>we’d love to hear </span></div>
            <div><span>from you!</span></div>
          </h3>
          <h5 class="contacts-section__name">(Get in touch)</h5>
        </div>
        <form class="form">
          <div class="form__field">
            <select name="select" class="form__field-select">
              <option value="" disabled selected hidden>Select category</option>
              <option value="Partnerships">Partnerships</option>
              <option value="Job">Job</option>
              <option value="Collabs">Collabs</option>
              <option value="Other">Other</option>
            </select>
          </div>
          <div class="form__field">
            <input
              name="email"
              placeholder="E-mail"
              type="email"
              class="form__field-input"
            />
          </div>
          <div class="form__field">
            <textarea
              placeholder="Comment"
              name="comment"
              class="form__field-textarea"
            ></textarea>
          </div>
          <button class="form__button link">Send</button>
          <div class="form__success">Thanks! Your message has been sent.</div>
        </form>
      </div>
    </div>
  </div>
</section>
