<section class="team container" data-bgcolor="#E0E3E7" data-textcolor="#000">
  <div class="team__members">
    <h2 class="remark team__remark">(Team)</h2>
    <ul class="team__members-list">
      <li class="team__member-card">
        <img src="./img/kareem.jpg" alt="" class="team__member-foto" />
        <ul class="team__social-list">
          <li class="team__social-item">
            <a href="#">
              <svg class="team__social-icon">
                <use href="./img/svg-icons/soc-icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="team__social-item">
            <svg class="team__social-icon">
              <use href="./img/svg-icons/soc-icons.svg#icon-linkedin"></use>
            </svg>
          </li>
          <li class="team__social-item">
            <svg class="team__social-icon">
              <use href="./img/svg-icons/soc-icons.svg#icon-vimeo"></use>
            </svg>
          </li>
          <li class="team__social-item">
            <svg class="team__social-icon">
              <use href="./img/svg-icons/soc-icons.svg#icon-behance"></use>
            </svg>
          </li>
        </ul>
        <div class="team__member-text">
          <div class="team__member-name">Kareem</div>
          <div class="team__member-lastname">Bayoun</div>
          <div class="team__member-position">CEO & Co-Founder</div>
          <div class="team__member-mail">tasdsaest@gmail.com</div>
          <div class="team__member-bio">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Voluptatibus asperiores deserunt ullam esse aut rem vero iure harum
            saepe culpa!
          </div>
        </div>
      </li>
      <li class="team__member-card">
        <img src="./img/kareem.jpg" alt="" class="team__member-foto" />
        <ul class="team__social-list">
          <li class="team__social-item">
            <a href="#">
              <svg class="team__social-icon">
                <use href="./img/svg-icons/soc-icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="team__social-item">
            <svg class="team__social-icon">
              <use href="./img/svg-icons/soc-icons.svg#icon-linkedin"></use>
            </svg>
          </li>
          <li class="team__social-item">
            <svg class="team__social-icon">
              <use href="./img/svg-icons/soc-icons.svg#icon-vimeo"></use>
            </svg>
          </li>
          <li class="team__social-item">
            <svg class="team__social-icon">
              <use href="./img/svg-icons/soc-icons.svg#icon-behance"></use>
            </svg>
          </li>
        </ul>
        <div class="team__member-text">
          <div class="team__member-name">Gabriele</div>
          <div class="team__member-lastname">Sibelli</div>
          <div class="team__member-position">COO & Co-Founder</div>
          <div class="team__member-mail">abrasd@gmail.com</div>
          <div class="team__member-bio">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia odio
            ipsum non impedit ullam ipsam tenetur iusto!
          </div>
        </div>
      </li>
      <li class="team__member-card">
        <img src="./img/kareem.jpg" alt="" class="team__member-foto" />
        <ul class="team__social-list">
          <li class="team__social-item">
            <a href="#">
              <svg class="team__social-icon">
                <use href="./img/svg-icons/soc-icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="team__social-item">
            <svg class="team__social-icon">
              <use href="./img/svg-icons/soc-icons.svg#icon-linkedin"></use>
            </svg>
          </li>
          <li class="team__social-item">
            <svg class="team__social-icon">
              <use href="./img/svg-icons/soc-icons.svg#icon-vimeo"></use>
            </svg>
          </li>
          <li class="team__social-item">
            <svg class="team__social-icon">
              <use href="./img/svg-icons/soc-icons.svg#icon-behance"></use>
            </svg>
          </li>
        </ul>
        <div class="team__member-text">
          <div class="team__member-name">Ivan</div>
          <div class="team__member-lastname">Litvinenko</div>
          <div class="team__member-position">
            Creative director & Co-Founder
          </div>
          <div class="team__member-mail">test@gmail.com</div>
          <div class="team__member-bio">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
            consectetur quasi minima ipsum expedita magni dolorem ipsa vitae
            commodi earum. Ab atque in ipsam enim illo distinctio illum sint
            nulla.
          </div>
        </div>
      </li>
      <li class="team__member-card">
        <img src="./img/kareem.jpg" alt="" class="team__member-foto" />
        <ul class="team__social-list">
          <li class="team__social-item">
            <a href="#">
              <svg class="team__social-icon">
                <use href="./img/svg-icons/soc-icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="team__social-item">
            <svg class="team__social-icon">
              <use href="./img/svg-icons/soc-icons.svg#icon-linkedin"></use>
            </svg>
          </li>
          <li class="team__social-item">
            <svg class="team__social-icon">
              <use href="./img/svg-icons/soc-icons.svg#icon-vimeo"></use>
            </svg>
          </li>
          <li class="team__social-item">
            <svg class="team__social-icon">
              <use href="./img/svg-icons/soc-icons.svg#icon-behance"></use>
            </svg>
          </li>
        </ul>
        <div class="team__member-text">
          <div class="team__member-name">Kareem</div>
          <div class="team__member-lastname">Bayoun</div>
          <div class="team__member-position">CEO & Co-Founder</div>
          <div class="team__member-mail">blbla@gmail.com</div>
          <div class="team__member-bio">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem
            odio sit dolores aliquid aliquam deserunt!
          </div>
        </div>
      </li>
      <li class="team__member-card">
        <img src="./img/kareem.jpg" alt="" class="team__member-foto" />
        <ul class="team__social-list">
          <li class="team__social-item">
            <a href="#">
              <svg class="team__social-icon">
                <use href="./img/svg-icons/soc-icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="team__social-item">
            <svg class="team__social-icon">
              <use href="./img/svg-icons/soc-icons.svg#icon-linkedin"></use>
            </svg>
          </li>
          <li class="team__social-item">
            <svg class="team__social-icon">
              <use href="./img/svg-icons/soc-icons.svg#icon-vimeo"></use>
            </svg>
          </li>
          <li class="team__social-item">
            <svg class="team__social-icon">
              <use href="./img/svg-icons/soc-icons.svg#icon-behance"></use>
            </svg>
          </li>
        </ul>
        <div class="team__member-text">
          <div class="team__member-name">Kareem</div>
          <div class="team__member-lastname">Bayoun</div>
          <div class="team__member-position">CEO & Co-Founder</div>
          <div class="team__member-mail">goglemugle@gmail.com</div>
          <div class="team__member-bio">
            Lorem ipsum, dolor sit amet consectetur adipisicing.
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="team__current-member">
    <div class="team__current-position"></div>
    <div class="team__current-name"></div>
    <div class="team__current-mail"></div>
    <p class="team__current-bio"></p>
  </div>
</section>