<section class="cnt-section" data-bgcolor="#4F06C6" data-textcolor="#fff">
  <div class="container">
    <div class="cnt-section__row">
      <div class="cnt-section__col">
        <h2 class="cnt-section__title">
          <span class="split">Interested </span>
          <span class="split">in knowing</span>
          <span class="split">more?</span>
        </h2>
      </div>
      <div class="cnt-section__col">
        <h5 class="cnt-section__name">(Let’s discuss)</h5>
        <h3 class="cnt-section__subtitle">
          <div><span>Don’t hesitate</span></div>
          <div><span>to contact us,</span></div>
          <div><span>we’d love to hear</span></div>
          <div><span>from you!</span></div>
          <a class="cnt-section__mail" href="mailto:hello@brandversenft.com"
            ><span>hello@brandversenft.com</span></a
          >
        </h3>
      </div>
    </div>
    <a
      href="img/BRANDVERSE LITEPAPER 1.0.pdf"
      download
      class="button cnt-section__link large-link"
      >Download Full version</a
    >
  </div>
</section>
