<section class="watches-fact">
  <div class="container">

    <h5 class="watches-fact__side-top-remark">(Z3NA)</h5>

    <h2 class="watches-fact__title">
      <span>2,500 NFT</span>
      watches
      living
    </h2>

    <h2 class="watches-fact__subtitle">
      <span>on the</span>
      <span>ethereum</span>
      <span>blockchain</span>
    </h2>

    <div class="watches-fact__subtext">
      paired with an exclusive physical watch
    </div>

    <div class="watches-fact__video-wrap animated" button3dhover data-filter-color="#00a1ff57">
      <span><span>(Video presentation)</span></span>
    </div>

    <div class="watches-fact__text">
      Brandverse community proposed and voted Z3NA’s name, logo and designs for
      the collection.
    </div>

    <div class="watches-fact__side-bottom-remark">(Brandverse)</div>

  </div>
</section>