<section class="wim" data-color="white">
  <div class="container">
    <span class="wim__remark wim__remark--side-position">(Media)</span>
    <div class="wim__title-cont">
      <div class="wim__title">We in the Media</div>
      <span class="wim__remark">(Brandverce)</span>
    </div>
    <div class="wim__cards-container">
      <a href="#" class="wim__card">
        <div class="wim__logo-wrap">
          <img class="wim__logo" src="./img/vaneck_logo.svg" alt="VanEck" />
        </div>
        <div class="wim__more-text">
          Learn more<svg class="wim__icon-arrow">
            <use href="./img/svg-icons/arrows.svg#icon-arrow-black"></use>
          </svg>
        </div>
        <div class="wim__line"></div>
      </a>
      <a href="#" class="wim__card">
        <div class="wim__logo-wrap">
          <img class="wim__logo" src="./img/lmu_logo.svg" alt="VanEck" />
        </div>
        <div class="wim__more-text">
          Learn more<svg class="wim__icon-arrow">
            <use href="./img/svg-icons/arrows.svg#icon-arrow-black"></use>
          </svg>
        </div>
        <div class="wim__line"></div>
      </a>
      <a href="#" class="wim__card wim__card--doubleSize wim__card--bgColorAccent">
        <div class="wim__logo-wrap">
          <img class="wim__logo" src="./img/forbes_logo.svg" alt="VanEck" />
        </div>
        <div class="wim__more-text">
          Learn more<svg class="wim__icon-arrow">
            <use href="./img/svg-icons/arrows.svg#icon-arrow-black"></use>
          </svg>
        </div>
        <div class="wim__line"></div>
      </a>
      <a href="#" class="wim__card wim__card--doubleSize">
        <div class="wim__logo-wrap">
          <img class="wim__logo" src="./img/sxsw_logo.svg" alt="VanEck" />
        </div>
        <div class="wim__more-text">
          Learn more<svg class="wim__icon-arrow">
            <use href="./img/svg-icons/arrows.svg#icon-arrow-black"></use>
          </svg>
        </div>
        <div class="wim__line"></div>
      </a>
      <a href="#" class="wim__card">
        <div class="wim__logo-wrap">
          <img class="wim__logo" src="./img/nft_evening_logo.svg" alt="VanEck" />
        </div>
        <div class="wim__more-text">
          Learn more<svg class="wim__icon-arrow">
            <use href="./img/svg-icons/arrows.svg#icon-arrow-black"></use>
          </svg>
        </div>
        <div class="wim__line"></div>
      </a>
    </div>
  </div>
</section>