<section class="ambassador" data-bgcolor="#000" data-textcolor="#fff">
  <div class="container d-flex">
    <div class="ambassador__sticky-block">
      <!-- <video class="ambassador__video" loop autoplay muted playsinline>
        <source type="video/mp4" src="img/ambassador_token.mp4">
        </source>
      </video> -->
      <div class="ambassador__remark">(Token)</div>
      <div class="ambassador__title">
        <div class="split">Brandverse</div>
        <div class="split">Ambassador</div>
        <div class="split">Token</div>
      </div>
    </div>
    <div class="ambassador__perks-container">
      <div class="ambassador__text">
        <div class="line ambassador__line"></div>
        Brandverse Ambassadors are the core of the Brandverse Community, shaping
        the future wearable brands and receiving tangible benefits as the
        ecosystem expands.
      </div>
      <div class="ambassador__perks-title">
        <div class="line ambassador__line"></div>
        <div>Ambassador</div>
        <div>Perks</div>
      </div>
      <ol class="ambassador__perks-list">
        <li class="ambassador__perks-item">
          <div>Free NFTs</div>
          <div>from our</div>
          <div>future drops.</div>
        </li>
        <li class="ambassador__perks-item">
          <div>Allowlist</div>
          <div>access to</div>
          <div>partner drops</div>
          <div>Merch.</div>
        </li>
        <li class="ambassador__perks-item">
          <div>Voting on</div>
          <div>future</div>
          <div>community</div>
          <div>initiatives and</div>
          <div>projects.</div>
        </li>
      </ol>
      <div class="ambassador__buy-text">
        Together we built Z3NA, the first community generated-brand.
      </div>
      <a href="#" class="ambassador__buy-link">
        <span class="split">Buy on OpenSea</span>
        <svg>
          <use href="./img/svg-icons/arrows.svg#icon-arrow-black"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
