<section class="watches-fact">
  <div class="container">
    <div class="watches-fact__side-top-remark">(Z3NA)</div>
    <div class="watches-fact__title">
      <div class="watches-fact--color-green">2,500 NFT</div>
      <div>watches living</div>
      <div class="watches-fact__right-part">
        <div>on the</div>
        <div>ethereum</div>
        <div>blockchain</div>
        <div class="watches-fact__subtext">
          paired with an exclusive physical watch
        </div>
      </div>
    </div>
    <div class="watches-fact__video-pres">(Video presentation)</div>
    <div class="watches-fact__text">
      Brandverse community proposed and voted Z3NA’s name, logo and designs for
      the collection.
    </div>
    <div class="watches-fact__side-bottom-remark">(Brandverce)</div>
  </div>
</section>
