<section class="exp-ar" data-bgcolor="#000" data-textcolor="#fff">
  <div class="container">
    <h5 class="exp-ar__remark">(web 3.0)</h5>
    <div class="exp-ar__title">
      <div>You can experience</div>
      <div>Z3NA in AR</div>
      <div class="exp-ar__subtitle">
        <span class="exp-ar__ampersand">&</span> our partner Metaworlds
      </div>
    </div>
    <a href="https://opensea.io/collection/z3na-nft" target="_blank" class="link exp-ar__link">Buy on OpenSea</a>
  </div>
</section>