<section class="metaverse" data-bgcolor="#000" data-textcolor="#fff">
  <div class="container">
    <div class="metaverse__line"></div>
    <div class="metaverse__marquee marquee">
      <div>Metaverse will be all around us</div>
    </div>
    <h2 class="metaverse__worth-text">
      <span class="split">and worth</span>
      <span class="split">$5 trillion by 2030,</span>
    </h2>
    <h2 class="metaverse__report-text">
      <span class="split">finds report</span>
    </h2>
    <div class="metaverse__img-wrap">
      <p class="metaverse__img-text">
        35% year to year increase in virtual clothing trade marks
      </p>
      <img class="metaverse__img" src="./img/metaverse.svg" alt="" />
    </div>
    <div class="metaverse__text-cont">
      <p class="metaverse__text">Metaverse fashion may be</p>
      <p class="metaverse__acccent-text">
        <span class="split">$55B industry</span>
        <span class="split">by 2030</span>
      </p>
    </div>
  </div>
</section>
