<section class="section-discuss" data-bgcolor="#4F06C6" data-textcolor="#fff">
  <div class="container">
    <div class="grid">
      <div class="col">
        <h2 class="section-discuss__title">
          <span class="split">Want to</span>
          <span class="split">know more?</span>
        </h2>
        <div class="section-discuss__subtitle">
          Let’s find out what we can do for you
        </div>
      </div>
      <div class="col">
        <form class="form">
          <div class="form__field">
            <input name="email" placeholder="E-mail" type="email" class="form__field-input">
          </div>
          <div class="form__field">
            <textarea placeholder="Comment" name="comment" class="form__field-textarea"></textarea>
          </div>
          <button class="form__button link">Send</button>
          <div class="form__success">
            Thanks! Your message has been sent.
          </div>
        </form>
        <!-- <a href="" class="link">Let’s discuss.</a> -->
      </div>
    </div>

  </div>
</section>