<section class="promo-second">
  <div class="container">
    <div class="promo-second__top-title-cont">
     <h5 class="promo-second__subtitle">(web 3.0)</h5>
    <h1 class="promo-second__top-title">
    <span class="split">Brands help people </span>
    <span class="split">express </span>
    <span class="split">themselves<span class="promo-second--color-purple">,</span>
  </h1>
  </div>
  <div class="promo-second__bottom-title-cont">
    <h5 class="promo-second__subtitle">(Brandverse)</h5>
    <h1 class="promo-second__bottom-title promo-second--color-purple">
        <span class="split">and</span>
<span class="split">we are here</span>
<span class="split">to help brands</span></h1>
  </div>
  <p class="promo-second__text">to command the next wave of the Web</p>
  </div>
</section>
