<section class="slide" data-bgcolor="#fff">
  <div class="slide__wrap">
    <!-- SOLUTION -->
    <div class="solution">
      <div class="container">
        <div class="solution__line"></div>
        <div class="solution__row">
          <div class="solution__first-text">The</div>
          <div class="solution__second-text">
            <div>Demystifying the</div>
            <div>Metaverse for Brands</div>
          </div>
        </div>
        <h2 class="solution__title"><span class="split">Solution</span></h2>
      </div>
    </div>
    <div class="reduce">
      <div class="container"><h2 class="reduce__title">Reduce.</h2></div>
    </div>
    <div class="slide-1 slide__slide container">
      <h2 class="slide__title">
        <span>Reduce</span>
        <span>barriers to</span>
        <span>entry for Brands </span><span>and Fans.</span>
      </h2>
      <p class="slide__text">
        True Ownership through NFT-backed physical products.
      </p>
    </div>
    <div class="slide-2 slide__slide container">
      <h2 class="slide__title">
        <span>Cultivate a new </span><span>relationship </span
        ><span>between brands </span><span>and fans.</span>
      </h2>
      <p class="slide__text">
        Incentive Reward Mechanic between Brands and Customers.
      </p>
    </div>
    <div class="slide-3 slide__slide container">
      <h2 class="slide__title">
        <span>Navigate an </span><span>interactive </span
        ><span>and innovative </span><span>market.</span>
      </h2>
      <p class="slide__text">Personalized Interactive shopping experience.</p>
    </div>
  </div>
</section>
