<section class="killer-feature" data-bgcolor="#000" data-textcolor="#fff">
  <div class="container">
    <h2 class="killer-feature__title">
      <span class="split">Our</span>
      <span class="split">killer</span>
      <span class="split">feature</span>
    </h2>
    <div class="killer-feature__text">
      <p>
        <span><span>Brandverse wearables</span></span>
        <span><span>are built using cutting-edge</span></span>
        <span
          ><span>software. Using <a href="">Procedural</a></span></span
        >
        <span
          ><span><a href="">Dependency Graph</a>, we</span></span
        >
        <span><span>can efficiently automate</span></span>
        <span><span>and scale all tasks required</span></span>
        <span><span>to build large NFT collections</span></span>
        <span><span> and manage thousands</span></span>
        <span><span>of unique variations.</span></span>
        <span><span>This gives us a massive</span></span>
        <span><span>degree of control in our</span></span>
        <span> <span>design process.</span></span>
      </p>
      <p>
        <span><span>We’re able to extract</span></span>
        <span><span>assets in any 3D format,</span></span>
        <span><span>compatible with Unreal</span></span
        ><span><span>and Unity.</span></span>
      </p>
    </div>
    <div id="cube-svg"></div>
  </div>
</section>
