<div class="slide">
  <div class="slide__wrap">
    <!-- SOLUTION -->
    <section class="solution" data-bgcolor="#fff" data-textcolor="#000">
      <div class="container">
        <div class="solution__line"></div>
        <div class="solution__inner">
          <div class="solution__text">
            Demystifying the Metaverse for Brands
          </div>
          <h2 class="solution__title"><div class="line">Solution.</div></h2>
        </div>
      </div>
    </section>
    <!-- REDUCE -->
    <section
      class="reduce slide__slide"
      data-bgcolor="#4f06c6"
      data-textcolor="#fff"
    >
      <div class="container">
        <div class="slide__title"></div>

        <div class="slide__col">
          <!-- <div class="slide__line"></div> -->
          <div class="slide__subtitle">
            Reduce barriers to entry for Brands and Fans.
          </div>
          <p class="slide__text">
            True Ownership through NFT-backed physical products.
          </p>
        </div>
      </div>
    </section>
    <!-- CULTIVATE -->
    <section
      class="cultivate slide__slide"
      data-bgcolor="#C5FD64"
      data-textcolor="#000"
    >
      <div class="container">
        <div class="slide__title"></div>
        <div class="slide__col">
          <!-- <div class="slide__line"></div> -->
          <div class="slide__subtitle">
            Cultivate a new relationship between brands and fans.
          </div>
          <p class="slide__text">
            Incentive Reward Mechanic between Brands and Customers.
          </p>
        </div>
      </div>
    </section>
    <!-- NAVIGATE-->
    <section
      class="navigate slide__slide"
      data-bgcolor="#000"
      data-textcolor="#C5FD64"
    >
      <div class="container">
        <div class="slide__title"></div>
        <div class="slide__col">
          <!-- <div class="slide__line"></div> -->
          <div class="slide__subtitle">
            Navigate an interactive and innovative market.
          </div>
          <p class="slide__text">
            Personalized Interactive shopping experience.
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
