<section class="discover container">
  <div class="discover__right-col discover--right-position">
    <div class="discover__subtitle">
      <div>We offer a turnkey experience</div>
      <div>for brands</div>
      <div class="discover__line"></div>
    </div>
    <div>
      <div class="discover__text-accent discover--right-position">
        <div>to command</div>
        <div>the next wave of the</div>
        <div>Web.</div>
      </div>
      <div class="discover__text">
        Connect with your fans through the intersection of blockchain
        technology, digital wearables and NFT culture.
      </div>
    </div>
  </div>

  <a class="discover__know-more-cont discover--right-position">
    <div class="discover__click-to">Click to</div>
    <div class="discover__know-more">know more</div>
    <div class="discover__know-more-line"></div>
  </a>
</section>
