<section class="video-section">
	<div class="container">
		<div class="video-section__player" id="player-container">
			<div class="video-section__inner">
				<div id="player"></div>
				<video loop autoplay muted playsinline>
					<source type="video/mp4" src="img/video.mp4">
					</source>
				</video>
				<div class="play-btn">
					<svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0.606934 0V15L12.3926 7.5L0.606934 0Z" fill="white" />
					</svg>
				</div>
			</div>
		</div>
	</div>

</section>