<section class="discover">
  <div class="container">
    <div class="discover__row">
      <div class="discover__col">
        <div class="discover__title">
          <div class="discover__title-col">
            <div class="discover__title-row">
              <h2 class="split">Discover</h2>
            </div>
          </div>
          <div class="discover__title-col">
            <div class="discover__title-row">
              <h2 class="split">the next</h2>
            </div>
            <div class="discover__title-row">
              <h2 class="split">era of</h2>
            </div>
            <div class="discover__title-row">
              <h2 class="split">commerce</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="discover__col">
        <div class="discover__top-line"></div>
        <div class="discover__subtitle">
          <p>
            We offer a turnkey experience
            for brands
          </p>
        </div>
        <div class="discover__line"></div>

        <div class="discover__text">
          <div>
            <p>to command</p>
          </div>
          <div>
            <p>the next</p>
          </div>
          <div>
            <p>wave of the</p>
          </div>
          <div>
            <p>web</p>
          </div>
        </div>

        <div class="discover__bottom-text">
          Connect with your fans through the intersection of blockchain
          technology, digital wearables and NFT culture.
        </div>
      </div>
    </div>
    <div class="discover__footer">
      <div class="discover__footer-title">Click to</div>
      <a href="" class="discover__link large-link">
        <div class="split">know more</div>
        <div class="split">know more</div>
      </a>
    </div>
  </div>
</section>