<section
  class="subscribe-section"
  data-bgcolor="#E0E3E7"
  data-textcolor="#000"
  data-accentColor="#4f06c6"
>
  <div class="container">
    <h5 class="subscribe-section__name">(Subscribe)</h5>
    <div class="subscribe-section__content">
      <h2 class="subscribe-section__title">
        <span class="subscribe-section__title-row">
          <span>Be the first to get the</span>
        </span>
        <span class="subscribe-section__title-row">
          <span>latest updates,</span>
        </span>
        <span class="subscribe-section__title-row">
          <span>participate in our</span>
        </span>
        <span class="subscribe-section__title-row">
          <span>monthly raffles and</span>
        </span>
        <span class="subscribe-section__title-row">
          <span>much more!</span>
        </span>
      </h2>
      <form class="subscribe-form">
        <div class="subscribe-form__field">
          <input
            type="email"
            name="email"
            placeholder="example@mail.com"
            class="subscribe-form__input"
          />
        </div>
        <button class="button large-link subscribe-form__btn">Subscribe</button>
      </form>
      <div class="subscribe-form__success">
        Thanks! Your message has been sent.
      </div>
    </div>
  </div>
</section>
