<section class="section-discuss" data-bgcolor="#4F06C6" data-textcolor="#fff">
  <div class="container">
    <h5 class="section-discuss__name">(Partners)</h5>
    <div class="grid">
      <div class="col">
        <h2 class="section-discuss__title">
          <span class="split">Want to</span>
          <span class="split">know more?</span>
        </h2>
        <ul class="section-discuss__subtitle">
          <li>
            <p>Let’s find out what we</p>
          </li>
          <li>
            <p>can do for you</p>
          </li>
        </ul>
      </div>
      <div class="col">

        <a href="" class="link">Let’s discuss.</a>
      </div>
    </div>

  </div>
</section>