<section class="metaverse" data-bgcolor="#000" data-textcolor="#fff">
  <div class="container">
    <div class="metaverse__header">
      <div class="metaverse__line"></div>
      <div class="metaverse__title-wrap">
        <div class="metaverse__title">
          <span>Metaverse</span>
          <span>will be</span>
          <span>all around us</span>
        </div>
      </div>
    </div>
    <h2 class="metaverse__worth-text">
      <span class="split">and worth</span>
      <span><span class="split">$5 trillion by 2030</span>
        <span class="split metaverse__sup">(1)</span></span>
    </h2>
    <div class="metaverse__img-wrap">
      <div class="metaverse__img-text">
        <div class="metaverse__img-text-line"></div>

        <div>
          <div>
            <span>35% year to <span class="metaverse__sup">(2)</span></span>
          </div>
          <div><span>year increase</span></div>
          <div><span>in virtual</span></div>
          <div><span>clothing</span></div>
          <div><span>trade marks</span></div>
        </div>
      </div>
      <div id="metaverse-svg"></div>
    </div>
    <div class="metaverse__text-cont">
      <p class="metaverse__text">Metaverse fashion estimated to be a</p>
      <p class="metaverse__acccent-text">
        <span class="split">$55B industry</span>
        <span class="split">by 2030</span><span class="split metaverse__sup">(3)</span>
      </p>
    </div>
    <ul class="metaverse__notes-list">
      <li class="metaverse__note">
        <a href="https://www.mckinsey.com/business-functions/growth-marketing-and-sales/our-insights/value-creation-in-the-metaverse"
          target="_blank" rel="noopener noreferrer">Value creation in the metaverse, McKinsey & Company, 2022</a>
      </li>
      <li class="metaverse__note">
        <a href="https://action.deloitte.com/insight/1514/try-this-on-for-size:-metaverse-fashion-may-be-dollar55b-industry-by-2030"
          target="_blank" rel="noopener noreferrer">Try this on for size: Metaverse fashion may be $55B industry by
          2030,
          Deloitte, 2022</a>
      </li>
      <li class="metaverse__note">
        <a href="https://www.mathys-squire.com/insights-and-events/news/fashion-in-the-metaverse-virtual-clothing-trade-marks-jump-by-a-third-to-2146-in-past-year/"
          target="_blank" rel="noopener noreferrer">Fashion in the metaverse: virtual clothing trade marks jump by a
          third
          to 2,146 in past year, Mathys & Squire, 2022</a>
      </li>
    </ul>
  </div>
</section>