<section class="exp-section">
  <div class="container">
    <h2 class="exp-section__title">Previous Experience</h2>
  </div>
  <div class="exp-section__list ticker">
    <div class="exp-cards">
      <div class="exp-card">
        <img src="img/exp-logo-1.svg" alt="" />
      </div>
      <div class="exp-card">
        <img src="img/exp-logo-2.svg" alt="" />
      </div>
      <div class="exp-card">
        <img src="img/exp-logo-3.svg" alt="" />
      </div>
      <div class="exp-card">
        <img src="img/exp-logo-4.svg" alt="" />
      </div>
      <div class="exp-card">
        <img src="img/exp-logo-5.svg" alt="" />
      </div>
      <div class="exp-card">
        <img src="img/exp-logo-6.svg" alt="" />
      </div>
      <div class="exp-card">
        <img src="img/exp-logo-7.svg" alt="" />
      </div>
      <div class="exp-card">
        <img src="img/exp-logo-8.svg" alt="" />
      </div>
      <div class="exp-card">
        <img src="img/exp-logo-9.svg" alt="" />
      </div>
      <div class="exp-card">
        <img src="img/exp-logo-10.svg" alt="" />
      </div>
      <div class="exp-card">
        <img src="img/exp-logo-11.svg" alt="" />
      </div>
      <div class="exp-card">
        <img src="img/exp-logo-12.svg" alt="" />
      </div>
    </div>
    <div class="exp-cards">
      <div class="exp-card">
        <img src="img/exp-logo-1.svg" alt="" />
      </div>
      <div class="exp-card">
        <img src="img/exp-logo-2.svg" alt="" />
      </div>
      <div class="exp-card">
        <img src="img/exp-logo-3.svg" alt="" />
      </div>
      <div class="exp-card">
        <img src="img/exp-logo-4.svg" alt="" />
      </div>
      <div class="exp-card">
        <img src="img/exp-logo-5.svg" alt="" />
      </div>
      <div class="exp-card">
        <img src="img/exp-logo-6.svg" alt="" />
      </div>
      <div class="exp-card">
        <img src="img/exp-logo-7.svg" alt="" />
      </div>
      <div class="exp-card">
        <img src="img/exp-logo-8.svg" alt="" />
      </div>
      <div class="exp-card">
        <img src="img/exp-logo-9.svg" alt="" />
      </div>
      <div class="exp-card">
        <img src="img/exp-logo-10.svg" alt="" />
      </div>
      <div class="exp-card">
        <img src="img/exp-logo-11.svg" alt="" />
      </div>
      <div class="exp-card">
        <img src="img/exp-logo-12.svg" alt="" />
      </div>
    </div>
  </div>
</section>
