<section class="hwd">
  <div class="container">
    <div class="hwd__title-line"></div>
    <ul class="hwd__title marquee">
      <li>How we do it</li>
      <li class="hwd__barcode"><img src="./img/bar-code-hwd.svg" /></li>
    </ul>
    <span class="hwd__remark">(How we do it)</span>
    <div class="hwd__accent-text hwd__top-text">
      We use our 3D capabilities our expertise
    </div>
    <div class="hwd__bottom-text hwd__accent-text">
      <div class="hwd__ampersand">&</div>
      <div>with NFTs to deliver unique benefits for our partners</div>
    </div>
    <div class="hwd__side-text">and community.</div>
    <div class="hwd__benefit">
      <div class="hwd__box"></div>
      <div class="hwd__benefit-accent-text">
        Our NFTs are interoperable assets that can adapt
      </div>
      <div class="hwd__benefit-line"></div>
      <div class="hwd__benefit-text">
        to any gaming engine, whether you want to wear it on a 3D avatar, use it
        in-game or integrate it into VR and AR experiences.
      </div>
    </div>
  </div>
</section>
