<section class="watches-fact">
  <div class="container">

    <h5 class="watches-fact__side-top-remark">(Z3NA)</h5>

    <div class="watches-fact__title">
      <h2>
        <div>2,500 NFT</div>
      </h2>
      <h2>
        <div>watches living</div>
      </h2>
    </div>

    <div class="watches-fact__subtitle">
      <h2>
        <div>on the</div>
      </h2>
      <h2>
        <div>ethereum</div>
      </h2>
      <h2>
        <div>blockchain</div>
      </h2>
    </div>

    <div class="watches-fact__subtext">
      paired with an exclusive physical watch
    </div>

    <div class="watches-fact__video-wrap" data-tilt data-scroll data-scroll-speed="2">
      <span>(Video presentation)</span>
    </div>

    <div class="watches-fact__text">
      Brandverse community proposed and voted Z3NA’s name, logo and designs for
      the collection.
    </div>

    <div class="watches-fact__side-bottom-remark">(Brandverce)</div>

  </div>
</section>