<section class="wrng-meta" data-bgcolor="#E0E3E7" data-textcolor="#000">
  <div class="container">
    <div class="wrng-meta__header">
      <h5 class="wrng-meta__subtitle">(Brandverse)</h5>
      <h2 class="wrng-meta__top-title">
        <span class="split">What’s wrong</span>
        <span class="split">with the</span>
        <span class="split last-row">Metaverse</span
        ><img class="wrng-meta__icon-b" src="./img/icon-b.svg" alt="" />
      </h2>
      <h2 class="wrng-meta__bottom-title">
        <span class="split">right now?</span>
      </h2>
    </div>
    <ul class="wrng-meta__cards-list">
      <li data-scroll data-scroll-speed="3" class="wrng-meta__card">
        <h3 class="wrng-meta__card-title">Assets are built to adapt</h3>
        <p class="wrng-meta__card-text">
          to certain metaworlds, apps, and environments
        </p>
      </li>
      <li data-scroll data-scroll-speed="3" class="wrng-meta__card">
        <h3 class="wrng-meta__card-title">Assets are built to adapt</h3>
        <p class="wrng-meta__card-text">
          to certain metaworlds, apps, and environments
        </p>
      </li>
      <li data-scroll data-scroll-speed="3" class="wrng-meta__card">
        <h3 class="wrng-meta__card-title">
          <div>High</div>
          <div>barriers</div>
          <div>to entry</div>
        </h3>
        <p class="wrng-meta__card-text">
          Technical know-how, industry expertise, understanding of NFTs
        </p>
      </li>
    </ul>
  </div>
</section>
