<section class="team container" data-bgcolor="#E0E3E7" data-textcolor="#000">
  <div class="team__members">
    <h5 class="team__remark">(Team)</h5>
    <h2 class="team__title">Our Team</h2>
    <ul class="team__members-list">
      <li class="team__member-card">
        <img src="img/kareem-mob.jpg" alt="" class="team__member-foto-mob" />
        <img src="img/kareem.jpg" alt="" class="team__member-foto" />
        <div class="team__member-position">CEO &&nbsp;Co-Founder</div>
        <div class="team__member-fullname">
          <div class="team__member-name">Kareem</div>
          <div class="team__member-lastname">Bayoun</div>
        </div>
        <div class="team__member-mail">kareem@brandversenft.com</div>
        <div class="team__member-bio">
          Kareem's experience in digital marketing and E-commerce supported multiple D2C brands from start to scale. His
          previous commercial and product roles at venture backed startup led him to reimagine the relationship between
          brands and their fans. He envisions a new era of branding where fans are truly rewarded for their support and
          loyalty through NFTs.
        </div>
        <ul class="team__social-list">
          <li class="team__social-item">
            <a target="_blank" href="https://twitter.com/Cr8St8">
              <span class="team__social-text">Twitter</span>
              <svg class="team__social-icon">
                <use href="img/svg-icons/soc-icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="team__social-item"><a href="https://www.linkedin.com/in/kareem-bayoun-81608b133" target="_blank">
              <span class="team__social-text">LinkedIn</span><svg class="team__social-icon">
                <use href="img/svg-icons/soc-icons.svg#icon-linkedin"></use>
              </svg></a>
          </li>
        </ul>
      </li>
      <li class="team__member-card">
        <img src="img/gabriele-mob.jpg" alt="" class="team__member-foto-mob" />
        <img src="img/gabriele.jpg" alt="" class="team__member-foto" />
        <div class="team__member-fullname">
          <div class="team__member-name">Gabriele</div>
          <div class="team__member-lastname">Sibelli</div>
        </div>
        <div class="team__member-position">COO & Co-Founder</div>
        <div class="team__member-mail">abrasd@gmail.com</div>
        <div class="team__member-bio">
          Gabriele is passionate about consumer psychology and branding. He previously founded and been part of multiple
          startups in the food delivery and
          E-commerce sectors. “Brands launching NFTs should prepare for an ongoing, multi-faceted customer relationship.
          Digital ownership paves the way for
          a new dynamic between brands and fans, one that truly unleashes the community’s creative power.” - Gabriele
        </div>
        <ul class="team__social-list">
          <li class="team__social-item">
            <a target="_blank" href="https://twitter.com/Siberia7922">
              <span class="team__social-text">Twitter</span><svg class="team__social-icon">
                <use href="img/svg-icons/soc-icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="team__social-item">
            <a href="https://www.linkedin.com/in/gabrielesibelli/" target="_blank">
              <span class="team__social-text">LinkedIn</span><svg class="team__social-icon">
                <use href="img/svg-icons/soc-icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team__member-card">
        <img src="img/ivan-mob.jpg" alt="" class="team__member-foto-mob" />
        <img src="img/ivan.jpg" alt="" class="team__member-foto" />
        <div class="team__member-fullname">
          <div class="team__member-name">Ivan</div>
          <div class="team__member-lastname">Litvinenko</div>
        </div>
        <div class="team__member-position">
          Creative director & Co-Founder
        </div>
        <div class="team__member-mail">test@gmail.com</div>
        <div class="team__member-bio">
          Ivan is a motion & graphic designer and video maker, with more than 8 years of experience creating content for
          major fashion brands, international events, and up-and-coming startups. His work ranges from runway videos for
          Milan fashion week and video art at Venice Biennale to developing the brand identity for Silicon Valley
          startups and international engineering corporations.</div>
        <ul class="team__social-list">
          <li class="team__social-item">
            <a target="_blank" href="https://twitter.com/ivanlitv">
              <span class="team__social-text">Twitter</span><svg class="team__social-icon">
                <use href="img/svg-icons/soc-icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="team__social-item">
            <a href="https://www.linkedin.com/in/ivanlitvinenko/" target="_blank">
              <span class="team__social-text">LinkedIn</span><svg class="team__social-icon">
                <use href="img/svg-icons/soc-icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="team__social-item">
            <a href="https://vimeo.com/ivanlitvinenko" target="_blank">
              <span class="team__social-text">Vimeo</span><svg class="team__social-icon">
                <use href="img/svg-icons/soc-icons.svg#icon-vimeo"></use>
              </svg>
            </a>
          </li>
          <li class="team__social-item">
            <a href="https://www.behance.net/ivanlitv" target="_blank">
              <span class="team__social-text">Behance</span><svg class="team__social-icon">
                <use href="img/svg-icons/soc-icons.svg#icon-behance"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team__member-card">
        <img src="img/stefano-mob.jpg" alt="" class="team__member-foto-mob" />
        <img src="img/stefano.jpg" alt="" class="team__member-foto" />
        <div class="team__member-fullname">
          <div class="team__member-name">Stefano</div>
          <div class="team__member-lastname">Balduzzi</div>
        </div>
        <div class="team__member-position">Technical director & Co-Founder</div>
        <div class="team__member-mail">blbla@gmail.com</div>
        <div class="team__member-bio">
          Stefano is a 3D generalist and motion graphics designer-artist with more than 11 years of experience. His
          previous works include the likes of Sky, Pirelli, Bosch, Unicredit, Vibram, and Vitesy. He is a Procedural
          Problem Solver, using PDG (Procedural Dependency Graph) architecture that allows us to create the highest
          quality 3D wearables, extractable and compatible with multiple formats and engines.</div>
        <ul class="team__social-list">
          <li class="team__social-item">
            <a target="_blank" href="https://twitter.com/Baldo8">
              <span class="team__social-text">Twitter</span>
              <svg class="team__social-icon">
                <use href="img/svg-icons/soc-icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="team__social-item">
            <a href="https://www.linkedin.com/in/stefanobalduzzi/" target="_blank">
              <span class="team__social-text">LinkedIn</span><svg class="team__social-icon">
                <use href="img/svg-icons/soc-icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="team__social-item">
            <a href="https://dribbble.com/Baldo8" target="_blank">
              <span class="team__social-text">Dribble</span>
              <svg class="team__social-icon" width="20" height="21" viewBox="0 0 20 21" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7.36816 1.25957C8.13656 2.17715 10.0182 4.57055 11.523 7.66461C13.4045 7.13535 15.3802 6.1968 17.3195 4.64145L17.7878 4.26594C15.9532 1.99012 13.1441 0.53125 10.0001 0.53125C8.99711 0.53125 8.0284 0.680313 7.11426 0.956367L7.36816 1.25957Z"
                  fill="#C3C7CC" />
                <path
                  d="M18.0525 5.55568C16.1844 7.05388 14.1673 8.12279 12.0232 8.75603C12.322 9.44853 12.5823 10.1361 12.8034 10.8164C14.7749 10.6487 17.0018 10.9248 19.4287 11.6389L19.9216 11.784C19.9732 11.3735 19.9999 10.9554 19.9999 10.5313C19.9999 8.58158 19.4385 6.76083 18.4697 5.22107L18.0525 5.55568Z"
                  fill="#C3C7CC" />
                <path
                  d="M1.21581 7.18816C2.20952 7.56504 4.41175 8.25484 7.18839 8.25492C8.18331 8.25496 9.25206 8.16621 10.3653 7.94297C8.98413 5.17516 7.30831 3.01344 6.46964 2.01187L5.94859 1.38965C3.52378 2.46852 1.60491 4.48449 0.654053 6.97512L1.21581 7.18816Z"
                  fill="#C3C7CC" />
                <path
                  d="M3.84875 17.9146C4.28926 16.6032 5.39289 14.1561 7.83512 12.5012C8.94785 11.7472 10.2228 11.2357 11.6339 10.9738C11.4114 10.3115 11.1582 9.66796 10.8851 9.04855C9.83433 9.27909 8.75527 9.40937 7.64992 9.43706C7.50191 9.44081 7.35488 9.44261 7.20965 9.44261C4.30398 9.44265 1.96566 8.72589 0.800195 8.28386L0.30082 8.09448C0.104727 8.87476 0 9.69093 0 10.5312C0 13.6673 1.45152 16.4703 3.71758 18.3051L3.84875 17.9146Z"
                  fill="#C3C7CC" />
                <path
                  d="M19.0979 12.7631C16.7601 12.0752 14.7947 11.8607 13.1431 11.9698C13.2917 12.536 13.4121 13.0959 13.5036 13.6478C13.8563 15.7751 13.7842 17.8089 13.2893 19.6928L13.2076 20.0037C16.4067 18.9174 18.8829 16.2527 19.7054 12.9419L19.0979 12.7631Z"
                  fill="#C3C7CC" />
                <path
                  d="M12.1561 19.395C12.8059 16.9218 12.6045 14.4231 11.9778 12.1069C7.37344 12.9037 5.59273 16.4032 4.95969 18.2878L4.71484 19.0166C6.24938 19.9759 8.06098 20.5313 10.0001 20.5313C10.6516 20.5313 11.2885 20.4679 11.9056 20.3484L12.1561 19.395Z"
                  fill="#C3C7CC" />
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team__member-card">
        <img src="img/viktor-mob.jpg" alt="" class="team__member-foto-mob" />
        <img src="img/viktor.jpg" alt="" class="team__member-foto" />
        <div class="team__member-fullname">
          <div class="team__member-name">Victor</div>
          <div class="team__member-lastname">Rochegude</div>
        </div>
        <div class="team__member-position">Chief Marketing Officer</div>
        <div class="team__member-mail">goglemugle@gmail.com</div>
        <div class="team__member-bio">
          Victor is the Chief Marketing Officer at Brandverse. Coming up with innovative ideas to launch new products,
          finding the right partners, and creating a strong community are at the core of his interests. He previously
          founded and been part of multiple startups in the digitisation of services for the mobility and the renovation
          sectors. “Web 3 is fundamentally changing the way brands interact with their customers. From offering new
          immersive experiences to reinventing fidelity programs. At Brandverse, we believe that Web3 should be
          accessible to any company!
        </div>
        <ul class="team__social-list">
          <li class="team__social-item">
            <a target="_blank" href="https://twitter.com/RCGD26">
              <span class="team__social-text">Twitter</span><svg class="team__social-icon">
                <use href="img/svg-icons/soc-icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="team__social-item"><a href="https://www.linkedin.com/in/victorrochegude/" target="_blank">
              <span class="team__social-text">LinkedIn</span><svg class="team__social-icon">
                <use href="img/svg-icons/soc-icons.svg#icon-linkedin"></use>
              </svg></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="team__current-member">
    <div class="team__current-position"></div>
    <div class="team__current-name"></div>
    <!-- <div class="team__current-mail"></div> -->
    <ul class="team__current-social"></ul>
    <p class="team__current-bio"></p>
  </div>
</section>