<section class="wrng-meta" data-bgcolor="#E0E3E7" data-textcolor="#000">
  <div class="container">
    <div class="wrng-meta__header">
      <h5 class="wrng-meta__subtitle">(Brandverse)</h5>
      <h2 class="wrng-meta__top-title wrng-meta__title">
        <div class="line">What’s wrong</div>
        <div class="line">with the</div>
        <div class="line">
          Metaverse
          <img
            class="wrng-meta__icon-b desktop"
            src="./img/icon-b.svg"
            alt=""
          />
        </div>
      </h2>
      <h2 class="wrng-meta__bottom-title wrng-meta__title">
        <div class="line">
          <img class="wrng-meta__icon-b mobile" src="./img/icon-b.svg" alt="" />
          right now?
        </div>
      </h2>
    </div>
    <ul class="wrng-meta__cards-list">
      <li data-scroll data-scroll-speed="4" class="wrng-meta__card">
        <h3 class="wrng-meta__card-title">
          Web2 advertising offers diminishing returns:
        </h3>
        <p class="wrng-meta__card-text">
          Customer isn’t truly a participant in the success of the brand.
        </p>
      </li>
      <li data-scroll data-scroll-speed="2" class="wrng-meta__card">
        <h3 class="wrng-meta__card-title">Assets are built to adapt</h3>
        <p class="wrng-meta__card-text">
          To certain metaworlds, apps, and environments
        </p>
      </li>
      <li data-scroll data-scroll-speed="6" class="wrng-meta__card">
        <h3 class="wrng-meta__card-title">
          <div>High</div>
          <div>barriers</div>
          <div>to entry</div>
        </h3>
        <p class="wrng-meta__card-text">
          Technical know-how, industry expertise, understanding of NFTs
        </p>
      </li>
    </ul>
  </div>
</section>
