<div class="horizontal">
  <div class="amba-frame-bg">
    <div class="container">
      <h5 class="horizontal__bg-subtitle">(Token)</h5>
      <img class="amba-frame-bg__video" src="./img/token-large.gif" alt="" />
    </div>
  </div>
  <div class="z3na-frame-bg">
    <div class="container">
      <h5 class="horizontal__bg-subtitle">(Z3NA)</h5>
      <img class="z3na-frame-bg__img" src="./img/watch.gif" alt="" />
    </div>
  </div>
  <div class="horizontal__wrap">
    <div class="frame amba-frame1" data-bgcolor="#000" data-textcolor="#fff">
      <div class="container">
        <div class="horizontal__frame-inner">
          <h5 class="horizontal__remark horizontal--color-grey">(Token)</h5>

          <div class="horizontal__title amba-frame1__title">
            <div><span>Brandverse</span></div>
            <div><span>Ambassador</span></div>
            <div><span>Token</span></div>
          </div>
          <div class="horizontal__subtitle">
            <div>
              <p>111 free</p>
            </div>
            <div>
              <p>to claim</p>
            </div>
            <div>
              <p>NFTs</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="frame amba-frame2" data-bgcolor="#000" data-textcolor="#fff">
      <div class="container">
        <div class="horizontal__frame-inner">
          <h5 class="horizontal__remark horizontal--color-grey">(Token)</h5>

          <h2 class="horizontal__small-title amba-frame2__title">
            <span><span>Ambassador</span></span>
            <span><span>Token</span></span>
            <span><span>holders</span></span>
            <span><span>get</span></span>
            <span><span>access</span></span>
            <span><span>to</span></span>
            <span><span>future</span></span>
            <span><span>Brandverse</span></span>
            <span><span>drops</span></span>
          </h2>
          <div class="horizontal__col">
            <div class="horizontal__col-text">
              <div>
                <p>Brandverse Ambassadors</p>
              </div>
              <div>
                <p>helped shape Z3NA,</p>
              </div>
            </div>
            <div class="horizontal__col-line"></div>
            <h3 class="horizontal__col-subtitle">
              <div>
                <p>our first wearable</p>
              </div>
              <div>
                <p>brand through</p>
              </div>
              <div>
                <p>voting on the brand</p>
              </div>
              <div>
                <p>name and logo</p>
              </div>
            </h3>
            <a
              href="https://opensea.io/collection/z3na-nft"
              target="_blank"
              class="link horizontal__col-link"
              >Buy on OpenSea</a
            >
          </div>
        </div>
      </div>
    </div>
    <div
      class="frame z3na-frame-bg-mob"
      data-bgcolor="#fff"
      data-textcolor="#000"
    >
      <div class="container">
        <h5 class="horizontal__bg-subtitle">(Z3NA)</h5>
        <img class="z3na-frame-bg-mob__img" src="./img/watch.gif" alt="" />
      </div>
    </div>
    <div class="frame z3na-frame1" data-bgcolor="#fff" data-textcolor="#000">
      <div class="container">
        <div class="horizontal__frame-inner">
          <h5 class="horizontal__remark">(Z3NA)</h5>

          <h2 class="horizontal__title z3na-frame1__title">
            <div><span class="split">Z3NA</span></div>
          </h2>
          <h2 class="horizontal__subtitle">
            <div>
              <p>2500 NFTs living</p>
            </div>
            <div>
              <p>on the Ethereum</p>
            </div>
            <div>
              <p>blockchain</p>
            </div>
          </h2>
        </div>
      </div>
    </div>
    <div class="frame z3na-frame2" data-bgcolor="#fff" data-textcolor="#000">
      <div class="container">
        <div class="horizontal__frame-inner">
          <h5 class="horizontal__remark">(Z3NA)</h5>
          <h2 class="horizontal__small-title z3na-frame2__title">
            <span><span>Every watch</span> </span
            ><span><span>is procedurally</span> </span
            ><span><span>designed, and</span> </span>
            <span><span>ultimately unique</span></span>
          </h2>
          <div class="horizontal__col">
            <div class="horizontal__col-text">
              <div>
                <p>AR-compatible,</p>
              </div>
            </div>
            <div class="horizontal__col-line"></div>
            <h3 class="horizontal__col-subtitle">
              <div>
                <p>and interoperable</p>
              </div>
              <div>
                <p>with a rich network</p>
              </div>
              <div>
                <p>of partners</p>
              </div>
            </h3>
            <a
              href="https://opensea.io/collection/z3na-nft"
              target="_blank"
              class="link horizontal__col-link"
              >Buy on OpenSea</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
