<section class="community" data-bgcolor="#E0E3E7" data-textcolor="#000">
  <div class="container">
    <div class="community__marquee-top">
      <div class="clipped-text">Join the community</div>
      <img class="clipped-text" src="img/community-title-el-circle.svg" alt="" />
      <div class="clipped-text">Join the community</div>
      <img class="clipped-text" src="img/community-title-el-circle.svg" alt="" />
      <div class="clipped-text">Join the community</div>
      <img class="clipped-text" src="img/community-title-el-circle.svg" alt="" />
      <div class="clipped-text">Join the community</div>
      <img class="clipped-text" src="img/community-title-el-circle.svg" alt="" />
    </div>
    <div class="community__marquee-bottom">
      <div>Join the community</div>
      <img src="img/community-title-el-star.svg" alt="" />
      <div>Join the community</div>
      <img src="img/community-title-el-star.svg" alt="" />
      <div>Join the community</div>
      <img src="img/community-title-el-star.svg" alt="" />
      <div>Join the community</div>
      <img src="img/community-title-el-star.svg" alt="" />
    </div>
    <ul class="community__cards-list">
      <li class="community__card">
        <h3 class="community__card-title">Build it</h3>
        <p class="community__card-text">
          Become part of a fun and unique way to build wearables. Contribute
          your designs and vote on the visual elements of collections by
          Brandverse.
        </p>
      </li>
      <li class="community__card">
        <h3 class="community__card-title">Own it and get rewarded!</h3>
        <p class="community__card-text">
          Community members get access to exclusive drops, allowlist spots, and
          more as we expand our partner network.
        </p>
      </li>
      <li class="community__card">
        <h3 class="community__card-title">Wear It</h3>
        <p class="community__card-text">
          Freely express your true self in different virtual worlds! Join the
          movement and be at the forefront of digital fashion and NFT culture!
        </p>
      </li>
    </ul>
  </div>
</section>