<section class="killer-feature" data-bgcolor="#000" data-textcolor="#fff">
  <div class="container">
    <h2 class="killer-feature__title">
      <span class="split">Our</span>
      <span class="split">killer</span>
      <span class="split">feature</span>
    </h2>
    <div class="killer-feature__text">
      <p>
        Brandverse wearables
        are built using cutting-edge software. Using <a href="">Procedural Dependency Graph</a>, we
        can efficiently automate
        and scale all tasks required
        to build large NFT collections and manage thousands
        of unique variations.
        This gives us a massive degree of control in our design process.
      </p>
      <p>
        We’re able to extract assets in any 3D format, compatible with Unreal and Unity.
      </p>
    </div>
    <div id="cube-svg"></div>
  </div>
</section>