<section class="benefits" data-bgcolor="#000" data-textcolor="#fff">
  <div class="container">
    <div class="benefits__header">
      <div class="benefits__title">
        <h2 class="split">Be at</h2>
        <h2 class="split">the</h2>
        <h2 class="split">forefront</h2>
      </div>
      <div class="benefits__title purpure right">
        <h2 class="split">of the next</h2>
        <h2 class="split">era of</h2>
        <h2 class="split">commerce</h2>
        <img class="benefits__circle" src="img/benefit-circle-text.svg" alt="">
      </div>
    </div>

    <div class="benefits__list">
      <div class="benefits__list-item">
        <div class="benefit-card">
          <div class="benefit-card__line-wrap">
            <svg class="benefit-card__line" width="367" height="33" viewBox="0 0 367 33" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <rect width="366.796" height="33" class="green" />
              <rect x="22.0156" width="0.880664" height="33" class="black" />
              <rect x="26.4219" width="7.48564" height="33" class="black" />
              <rect x="35.2266" width="0.880664" height="33" class="black" />
              <rect x="41.832" width="0.880664" height="33" class="black" />
              <rect x="43.5938" width="0.880664" height="33" class="black" />
              <rect x="45.3516" width="3.08232" height="33" class="black" />
              <rect x="52.3984" width="0.880664" height="33" class="black" />
              <rect x="78.3789" width="0.880664" height="33" class="black" />
              <rect x="110.082" width="14.531" height="33" class="black" />
              <rect x="127.699" width="5.28398" height="33" class="black" />
              <rect x="140.906" width="2.64199" height="33" class="black" />
              <rect x="145.309" width="2.64199" height="33" class="black" />
              <rect x="176.133" width="2.64199" height="33" class="black" />
              <rect x="185.82" width="11.889" height="33" class="black" />
              <rect x="350.504" width="11.889" height="33" class="black" />
              <rect x="80.582" width="2.64199" height="33" class="black" />
              <rect x="89.3867" width="7.48564" height="33" class="black" />
              <rect x="179.656" width="3.08232" height="33" class="black" />
            </svg>
          </div>
          <div class="benefit-card__inner">
            <div class="benefit-card__number">(01)</div>
            <div class="benefit-card__title">
              <div>
                <p>New</p>
              </div>
              <div>
                <p>revenue</p>
              </div>
              <div>
                <p>streams</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="benefits__list-item">
        <div class="benefit-card">
          <div class="benefit-card__line-wrap">
            <svg class="benefit-card__line" width="367" height="33" viewBox="0 0 367 33" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <rect width="366.796" height="33" class="green" />
              <rect x="22.0156" width="0.880664" height="33" class="black" />
              <rect x="26.4219" width="7.48564" height="33" class="black" />
              <rect x="35.2266" width="0.880664" height="33" class="black" />
              <rect x="41.832" width="0.880664" height="33" class="black" />
              <rect x="43.5938" width="0.880664" height="33" class="black" />
              <rect x="45.3516" width="3.08232" height="33" class="black" />
              <rect x="52.3984" width="0.880664" height="33" class="black" />
              <rect x="78.3789" width="0.880664" height="33" class="black" />
              <rect x="110.082" width="14.531" height="33" class="black" />
              <rect x="127.699" width="5.28398" height="33" class="black" />
              <rect x="140.906" width="2.64199" height="33" class="black" />
              <rect x="145.309" width="2.64199" height="33" class="black" />
              <rect x="176.133" width="2.64199" height="33" class="black" />
              <rect x="185.82" width="11.889" height="33" class="black" />
              <rect x="350.504" width="11.889" height="33" class="black" />
              <rect x="80.582" width="2.64199" height="33" class="black" />
              <rect x="89.3867" width="7.48564" height="33" class="black" />
              <rect x="179.656" width="3.08232" height="33" class="black" />
            </svg>
          </div>
          <div class="benefit-card__inner">
            <div class="benefit-card__number">(02)</div>
            <div class="benefit-card__title">
              <div>
                <p>Increase</p>
              </div>
              <div>
                <p>Brand</p>
              </div>
              <div>
                <p>awareness</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="benefits__list-item">
        <div class="benefit-card">
          <div class="benefit-card__line-wrap">
            <svg class="benefit-card__line" width="367" height="33" viewBox="0 0 367 33" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <rect width="366.796" height="33" class="green" />
              <rect x="22.0156" width="0.880664" height="33" class="black" />
              <rect x="26.4219" width="7.48564" height="33" class="black" />
              <rect x="35.2266" width="0.880664" height="33" class="black" />
              <rect x="41.832" width="0.880664" height="33" class="black" />
              <rect x="43.5938" width="0.880664" height="33" class="black" />
              <rect x="45.3516" width="3.08232" height="33" class="black" />
              <rect x="52.3984" width="0.880664" height="33" class="black" />
              <rect x="78.3789" width="0.880664" height="33" class="black" />
              <rect x="110.082" width="14.531" height="33" class="black" />
              <rect x="127.699" width="5.28398" height="33" class="black" />
              <rect x="140.906" width="2.64199" height="33" class="black" />
              <rect x="145.309" width="2.64199" height="33" class="black" />
              <rect x="176.133" width="2.64199" height="33" class="black" />
              <rect x="185.82" width="11.889" height="33" class="black" />
              <rect x="350.504" width="11.889" height="33" class="black" />
              <rect x="80.582" width="2.64199" height="33" class="black" />
              <rect x="89.3867" width="7.48564" height="33" class="black" />
              <rect x="179.656" width="3.08232" height="33" class="black" />
            </svg>
          </div>
          <div class="benefit-card__inner">
            <div class="benefit-card__number">(03)</div>
            <div class="benefit-card__title">
              <div>
                <p>Connect</p>
              </div>
              <div>
                <p>with</p>
              </div>
              <div>
                <p>a younger,</p>
              </div>
            </div>
            <div class="benefit-card__text">
              digitally-native demographic
            </div>
          </div>
        </div>
      </div>
      <div class="benefits__list-item">
        <div class="benefit-card">
          <div class="benefit-card__line-wrap">
            <svg class="benefit-card__line" width="367" height="33" viewBox="0 0 367 33" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <rect width="366.796" height="33" class="green" />
              <rect x="22.0156" width="0.880664" height="33" class="black" />
              <rect x="26.4219" width="7.48564" height="33" class="black" />
              <rect x="35.2266" width="0.880664" height="33" class="black" />
              <rect x="41.832" width="0.880664" height="33" class="black" />
              <rect x="43.5938" width="0.880664" height="33" class="black" />
              <rect x="45.3516" width="3.08232" height="33" class="black" />
              <rect x="52.3984" width="0.880664" height="33" class="black" />
              <rect x="78.3789" width="0.880664" height="33" class="black" />
              <rect x="110.082" width="14.531" height="33" class="black" />
              <rect x="127.699" width="5.28398" height="33" class="black" />
              <rect x="140.906" width="2.64199" height="33" class="black" />
              <rect x="145.309" width="2.64199" height="33" class="black" />
              <rect x="176.133" width="2.64199" height="33" class="black" />
              <rect x="185.82" width="11.889" height="33" class="black" />
              <rect x="350.504" width="11.889" height="33" class="black" />
              <rect x="80.582" width="2.64199" height="33" class="black" />
              <rect x="89.3867" width="7.48564" height="33" class="black" />
              <rect x="179.656" width="3.08232" height="33" class="black" />
            </svg>
          </div>
          <div class="benefit-card__inner">
            <div class="benefit-card__number">(04)</div>
            <div class="benefit-card__title">
              <div>
                <p>Build deeper and more</p>
              </div>
              <div>
                <p>meaningful connections</p>
              </div>
              <div>
                <p>with your fans </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>