<section class="promo-third" data-bgcolor="#E0E3E7" data-textcolor="#000">
  <div class="container">
    <div class="promo-third__title-wrap">
      <div class="promo-third__subtitle">
        <p>Take your Brand into the</p>
      </div>
      <div class="promo-third__title split">Metaverse</div>
      <div class="promo-third__marquee ticker">
        <div>Metaverse Metaverse Metaverse</div>
        <div>Metaverse Metaverse Metaverse</div>
      </div>
      <div class="promo-third__line"></div>
    </div>
  </div>
</section>
