<section class="section-enter" data-bgcolor="#E0E3E7" data-textcolor="#000">
  <div class="container">
    <h2 class="section-enter__title">
      <span class="split">Enter</span>
      <span class="split">Brandverse</span>
    </h2>
    <div class="section-enter__blocks">
      <div class="section-enter__block">
        <div class="section-enter__block-title">Mission:</div>
        <div class="section-enter__block-text">
          <div>
            <p>Accelerate Social</p>
          </div>
          <div>
            <p>Commerce in the</p>
          </div>
          <div>
            <p>Metaverse</p>
          </div>
        </div>
      </div>
      <div class="section-enter__block">
        <div class="section-enter__block-title">Vision:</div>
        <div class="section-enter__block-text">
          <div>
            <p>Redefine</p>
          </div>
          <div>
            <p>the consumer</p>
          </div>
          <div>
            <p>-brand relationship</p>
          </div>
          <div>
            <p>for Web3</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>