<section class="stay-updated" data-bgcolor="#4F06C6" data-textcolor="#fff">
  <div class="container">

    <img class="stay-updated__logo" src="./img/discord.gif" alt="" />
    <div class="stay-updated__title">
      <div class="split">Follow</div>
      <div class="split">Brandverse</div>
    </div>

    <div class="stay-updated__inner">
      <div class="stay-updated__subtitle">
        <div>
          Join the
        </div>
        <div>
          community
        </div>
        <div>
          & make
        </div>
        <div>
          your voice
        </div>
        <div>
          heard
        </div>
      </div>
      <a href="https://discord.com/invite/brandverse" target="_blank" class="link">Join Us on Discord</a>
    </div>

  </div>
</section>