<section class="stay-updated" data-bgcolor="#4F06C6" data-textcolor="#fff">
  <div class="container">
    <div class="stay-updated__inner-cont">
      <img class="stay-updated__logo" src="./img/stay-updated-logo.svg" alt="" />
      <div class="stay-updated__title">
        <div>Stay updated</div>
        <div>about the</div>
        <div>latest developments</div>
        <div>of Brandverse,</div>
      </div>
      <div class="stay-updated__subtitle-cont">
        <div class="stay-updated__subtitle">
          <div>ur projects</div>
          <div>and collaborations,</div>
        </div>
      </div>
      <div class="stay-updated__text">
        & make your voice heard by joining our community.
      </div>
      <div class="stay-updated__join-link">
        <a href="#" class="ambassador__buy-link">
          <span class="split">Join Us on Discord</span>
          <svg>
            <use href="./img/svg-icons/arrows.svg#icon-arrow-black"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>