<section
  class="stay-updated"
  data-bgcolor="#4F06C6"
  data-textcolor="#fff"
  data-accentcolor="#c5fd64"
>
  <div class="container">
    <img class="stay-updated__logo" src="./img/discord.gif" alt="" />
    <div class="stay-updated__title">
      <div class="split">Follow</div>
      <div class="split">Brandverse</div>
    </div>

    <div class="stay-updated__inner">
      <div class="stay-updated__subtitle">
        <div>
          <div>Join the</div>
        </div>
        <div>
          <div>community</div>
        </div>
        <div>
          <div>& make your</div>
        </div>
        <div>
          <div>voice heard</div>
        </div>
      </div>
      <a
        href="https://discord.com/invite/brandverse"
        target="_blank"
        class="link"
        >Jump in the Discord</a
      >
    </div>
  </div>
</section>
