// GLOBAL STYLES
@import 'global/custom-variables';

:root {
  --index: calc(1vw + 1vh);
}

@function toIndex($value) {
  $resValue: calc((1vw + 1vh) * (#{$value} / 30));
  @return $resValue;
}
@function toIndexTab($value) {
  $resValue: calc((1vw + 1vh) * (#{$value} / 17.92));
  @return $resValue;
}
@function toIndexMob($value) {
  $resValue: calc((1vw + 1vh) * (#{$value} / 11.87));
  @return $resValue;
}

@import 'global/reboot';
@import 'global/type';
@import 'global/grid';
@import 'global/forms';
@import 'global/buttons';
@import 'global/fonts';

// PLUGINS STYLE
@import 'plugins/icons';

//COMPONENTS
@import 'components/remark';
@import 'components/button';
@import 'components/link';
@import 'components/ticker';

// LOADING PAGE
@import 'blocks/loading-page.scss';
// MENU
@import 'blocks/menu.scss';

// BLOCKS STYLE
@import 'blocks/popup-block';
@import 'blocks/page-header';
@import 'blocks/promo.scss';
@import 'blocks/video-section.scss';
@import 'blocks/discover-section.scss';
@import 'blocks/hwd-section.scss';
@import 'blocks/knw-more-section.scss';
@import 'blocks/watches-section.scss';
@import 'blocks/watches-fact-section.scss';
@import 'blocks/exp-ar-section.scss';
@import 'blocks/community.scss';
@import 'blocks/stay-updated-section.scss';
@import 'blocks/ambassador-section.scss';
@import 'blocks/we-in-media-section.scss';
@import 'blocks/team-section.scss';
@import 'blocks/exp-section.scss';
@import 'blocks/partners-section.scss';
@import 'blocks/subscribe-section.scss';
@import 'blocks/contacts-section.scss';
@import 'blocks/page-footer';

// second page
@import 'blocks/promo-second-section.scss';
@import 'blocks/metaverse-section.scss';
@import 'blocks/wrng-meta-section.scss';
@import 'blocks/slide-section.scss';
@import 'blocks/roadmap-section.scss';
@import 'blocks/killer-feature.scss';
@import 'blocks/section-enter.scss';
@import 'blocks/section-values.scss';

// third page
@import 'blocks/promo-third.scss';
@import 'blocks/benefits.scss';
@import 'blocks/section-text.scss';
@import 'blocks/collections.scss';
@import 'blocks/horizontal-section3p.scss';
@import 'blocks/section-hwdt.scss';
@import 'blocks/section-discuss';
@import 'blocks/cnt-section.scss';

body {
  &.no-scroll{
  overflow: hidden;
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'RF Dewi';
  color: #000;
  font-weight: 400;
  line-height: 1.2;
  font-size: 16px;
  min-width: 320px;
  background-color: #e0e3e7;
  @media (min-width: 768px) {
    transition: background-color 0.3s, color 0.3s;
  }
}

.wrapper {
  overflow: hidden;
}

.has-scroll-smooth {
  overflow: hidden;
  body {
    overflow: hidden;
  }
}

// html,
// body {
//   overflow: hidden;
// }

.scroller {
  overflow-y: auto;
  overflow-x: hidden;
}
