.large-link {
  font-family: 'Bebas Neue';
  font-weight: 700;
  font-size: toIndex(200);
  line-height: 1;
  letter-spacing: -0.033em;
  color: #4f06c6;
  position: relative;
  display: block;
  &>span{
    padding-left: 0.033em;
    padding-right: 0.033em;

  }
  // .split {
  //   display: flex;
  //   overflow: hidden;
  //   &:last-child {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     opacity: 0;
  //   }
  // }
  // &::after {
  //   content: '';
  //   position: absolute;
  //   bottom: 0;
  //   right: 0;
  //   width: 100%;
  //   height: toIndex(15);
  //   background-color: $purpure;
  // }
}

@media (max-width: 1299px) {
  .large-link {
    font-size: 20vw;
  }
}

@media (max-width: 1299px) {
  .large-link {
    font-size: 20vw;
  }
}
