@font-face {
  font-family: 'RF Dewi';
  src: url('../fonts/RFDewi-Semibold.woff2') format('woff2'),
    url('../fonts/RFDewi-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RF Dewi';
  src: url('../fonts/RFDewi-Ultrabold.woff2') format('woff2'),
    url('../fonts/RFDewi-Ultrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RF Dewi';
  src: url('../fonts/RFDewi-Bold.woff2') format('woff2'),
    url('../fonts/RFDewi-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeueBold.woff2') format('woff2'),
    url('../fonts/BebasNeueBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeueRegular.woff2') format('woff2'),
    url('../fonts/BebasNeueRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
