.form {
  &__success {
    display: none;
  }
  &__field {
    position: relative;
    margin-bottom: toIndex(75);
  }
  &__field-input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: toIndex(40);
    font-family: 'RF Dewi';
    font-weight: 600;
    font-size: calc(var(--index) * 0.66);
    line-height: 96%;
    letter-spacing: -0.033em;
    color: #ffffff;
    &::placeholder {
      color: #ffffff;
    }
    &:focus {
      outline: none;
    }
    &.error {
      border-color: red;
      &::placeholder {
        color: red;
      }
    }
  }
  &__field-textarea {
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: toIndex(20);
    font-family: 'RF Dewi';
    font-weight: 600;
    font-size: toIndex(20);
    line-height: 1;
    letter-spacing: -0.033em;
    color: #ffffff;
    height: toIndex(260);
    resize: none;
    &::placeholder {
      color: #ffffff;
    }
    &:focus {
      outline: none;
    }
  }
  &__button {
    background-color: transparent;
    width: 100%;
    cursor: pointer;
    border: none;
    max-width: 50%;
    margin-left: auto;
  }
  &__field-select {
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: toIndex(40);
    font-family: 'RF Dewi';
    font-weight: 600;
    font-size: calc(var(--index) * 0.66);
    line-height: 1.2;
    letter-spacing: -0.033em;
    color: #ffffff;
    background-image: url(../img/down-arrow.svg);
    background-repeat: no-repeat;
    background-position-y: 15%;
    background-position-x: 100%;
    background-size: 2%;
    -webkit-appearance: none;
    -moz-appearance: none;
    option {
      color: black;
    }
    &:focus {
      outline: none;
    }
    &:-ms-expand {
      display: none;
    }
  }
}

@keyframes jumb {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(toIndex(-10));
  }
  100% {
    transform: translateY(0px);
  }
}

@media (max-width: 1199px) {
  .form {
    &__field {
      margin-bottom: 70px;
    }
    &__field-input {
      line-height: 1.2;
      font-size: 20px;
      padding-bottom: 40px;
      border-bottom: 2px solid #d9d9d9;
    }
    &__field-textarea {
      font-size: 20px;
      border-bottom: 2px solid #d9d9d9;
    }
    &__field-select {
      line-height: 1.2;
      font-size: 20px;
      padding-bottom: 40px;
      border-bottom: 2px solid #d9d9d9;
    }
    &__button {
      width: 100%;
      max-width: 100%;
      margin-left: 0;
    }
  }
}
