.form {
  &__field {
    position: relative;
    margin-bottom: toIndex(75);
  }
  &__field-input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: calc(var(--index) * 1.6);
    font-family: 'RF Dewi';
    font-weight: 600;
    font-size: calc(var(--index) * 0.66);
    line-height: 96%;
    letter-spacing: -0.033em;
    color: #ffffff;
    &::placeholder {
      color: #ffffff;
    }
    &:focus {
      outline: none;
    }
  }
  &__field-textarea {
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: toIndex(20);
    font-family: 'RF Dewi';
    font-weight: 600;
    font-size: toIndex(20);
    line-height: 96%;
    letter-spacing: -0.033em;
    color: #ffffff;
    height: toIndex(260);
    resize: none;
    &::placeholder {
      color: #ffffff;
    }
    &:focus {
      outline: none;
    }
  }
  &__btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 800;
    font-size: toIndex(33);
    line-height: 120%;
    letter-spacing: -0.033em;
    color: $green;
    padding-bottom: toIndex(6);
    border-bottom: toIndex(5) solid $green;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    width: toIndex(230);
    svg {
      width: toIndex(45);
      height: toIndex(45);
    }
  }
}
