h5 {
  font-family: 'RF Dewi';
  font-style: normal;
  font-weight: 700;
  font-size: calc(var(--index) * 0.6);
  line-height: 86%;
  letter-spacing: -0.033em;
}

@media (max-width: 1299px) {
  h5 {
    font-size: 16px;
  }
}
